<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <p:dialog widgetVar="editDespesas"
              modal="true"
              header="#{(infoAuxilioMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
              draggable="true"
              resizable="false">
        <h:panelGrid columns="1" id="editDespesaGrid">
            <h:form id="formEditDespesas">
                <p:scrollPanel mode="native" style="width:850px;height:500px;" >
                <h:panelGrid columns="2">
                    <p:column>
                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value="*"/>
                        <h:outputText value="Tipo da Despesa:" />
                        <p:selectOneMenu  id="tipoDesp" value="#{addEditDespesaMB.despesa.tipoDespesa}" required="true" valueChangeListener="#{addEditDespesaMB.atualizarListaAlineas}" requiredMessage="O Tipo da Despesa é obrigatório.">
                            <f:selectItem itemLabel="Selecione"/>
                            <f:selectItems value="#{addEditDespesaMB.listaTiposDespesa}" var="td" itemLabel="#{td}" itemValue="#{td}"/>
                            <p:ajax event="valueChange" update="alineaSel comboGrid"/>
                        </p:selectOneMenu>
                        <p:message for="tipoDesp" display="icon"/>
                        </h:panelGrid>

                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value="*"/>
                        <h:outputText value="Alínea:"/>
                        <p:selectOneMenu  id="alineaSel" value="#{addEditDespesaMB.alineaBean}" required="true" converter="alineaConverter" requiredMessage="A Alínea é obrigatória.">
                            <f:selectItem itemLabel="Selecione"/>
                            <f:selectItems value="#{addEditDespesaMB.listaAlineasDisponiveis}" var="ali" itemLabel='#{ali.fkCategoriaAlinea.nome} / #{ali.moeda==1?"R$":"U$"}' itemValue="#{ali}"/>
                            <p:ajax event="change" update=":formEditDespesas:subcentroSelEditDesp :formEditDespesas:comboGrid" listener="#{addEditDespesaMB.atualizarListaSubcentros}"/>
                        </p:selectOneMenu>
                        <p:message for="alineaSel" display="icon"/>
                        </h:panelGrid>

                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value=""/>
                        <h:outputText value="Sub-alínea:"/>
                        <p:selectOneMenu  id="subalineaSel" value="#{addEditDespesaMB.despesa.subalinea}">
                            <f:selectItem itemLabel="Selecione"/>
                            <f:selectItems value="#{addEditDespesaMB.listaCategorias}" var="catali" itemLabel="#{catali.nome}" itemValue="#{catali.nome}"/>
                        </p:selectOneMenu>
                        <p:message for="subalineaSel" display="icon"/>
                        </h:panelGrid>

                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value="*"/>
                        <h:outputText value="Centro desp.:"/>
                        <p:selectOneMenu  id="subcentroSelEditDesp" value="#{addEditDespesaMB.despesa.fkSubcentro}" converter="subcentroDespesasConverter" required="true" requiredMessage="O Centro de Despesas favorecido é obrigatório.">
                            <f:selectItem itemLabel="Selecione" itemValue="#{null}"/>
                            <f:selectItems value="#{addEditDespesaMB.listaSubcentrosDespesa}" var="catali" itemLabel="#{catali.fkCentroDespesa.nome}" itemValue="#{catali}"/>
                            <p:ajax event="change" update="comboGrid" listener="#{addEditDespesaMB.atualizarSaldoSubcentros}"/>
                        </p:selectOneMenu>
                        <p:message for="subcentroSelEditDesp" display="icon"/>
                        </h:panelGrid>

                            <h:panelGrid columns="5" rendered="#{addEditDespesaMB.despesa.genero == 0}">
                                <h:outputText styleClass="asterisco" value="*"/>
                                <h:outputText value="Favorecido:"/>
                                <p:selectOneMenu id="fornecedorfavorecido" value="#{addEditDespesaMB.fornecedorSelecionado}" converter="fornecedorConverter" required="true" requiredMessage="O Favorecido é obrigatório.">
                                    <f:selectItem itemLabel="Selecione" itemValue="#{null}"/>
                                    <f:selectItems value="#{addEditDespesaMB.listaFornecedores}" var="forn" itemLabel="#{forn.nomeFantasia}" itemValue="#{forn}"/>
                                    <p:ajax event="valueChange" update="cnpjfavorecido"/>
                                </p:selectOneMenu>
                                <p:message for="fornecedorfavorecido" display="icon"/>
                                
                                <p:commandButton id="addForn" actionListener="#{addEditFornecedorMB.prepareAdicionar}" update=":addEditFornecedorPanel" immediate="true" icon="ui-icon-plusthick"/>
                            </h:panelGrid>
                            <h:panelGrid columns="4" rendered="#{addEditDespesaMB.despesa.genero == 0}">
                                <h:outputText styleClass="asterisco" value="*"/>
                                <h:outputText value="CNPJ/CPF:"/>
                                <p:inputText id="cnpjfavorecido" value="#{addEditDespesaMB.fornecedorSelecionado.cnpj}" readonly="true"/>
                                <h:outputText value=""/>
                            </h:panelGrid>
                        
                            <h:panelGrid columns="5" rendered="#{addEditDespesaMB.despesa.genero > 0}">
                                <h:outputText styleClass="asterisco" value="*"/>
                                <h:outputText value="Favorecido:"/>
                                <p:selectOneMenu id="pessoafavorecida" value="#{addEditDespesaMB.pessoaSelecionada}" converter="pessoaConverter" required="true" requiredMessage="O Favorecido é obrigatório.">
                                    <f:selectItem itemLabel="Selecione" itemValue="#{null}"/>
                                    <f:selectItems value="#{addEditDespesaMB.listaPessoas}" var="pes" itemLabel="#{pes.nome}" itemValue="#{pes}"/>
                                    <p:ajax event="valueChange" update="favorecidoCpf"/>
                                </p:selectOneMenu>
                                <p:message for="pessoafavorecida" display="icon"/>
                                <p:commandButton id="addPessoaLink"
                                                 actionListener="#{addEditPessoaMB.prepareAdicionar}"
                                                 update=":addEditPanel"
                                                 icon="ui-icon-plusthick"
                                                 immediate="true"/>
                            </h:panelGrid>
                            <h:panelGrid columns="4" rendered="#{addEditDespesaMB.despesa.genero > 0}">
                                <h:outputText styleClass="asterisco" value="*" rendered="#{addEditDespesaMB.despesa.genero > 0}"/>
                                <h:outputText value="CPF/Passaporte:" rendered="#{addEditDespesaMB.despesa.genero > 0}"/>
                                <p:inputText id="favorecidoCpf" value="#{addEditDespesaMB.pessoaSelecionada.cpf}" readonly="true" rendered="#{addEditDespesaMB.despesa.genero > 0}"/>
                                <h:outputText value=""/>
                            </h:panelGrid>

                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value="*"/>
                        <h:outputText value="Data da Compra" />
                        <p:calendar id="dataRealizada" pattern="dd/MM/yyyy" required="true" value="#{addEditDespesaMB.despesa.dataRealizada}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}." onkeypress="if (event.keyCode !== 8) {
                                    mascara(this, mascaraData);
                                }"/>
                        <p:message for="dataRealizada" display="icon"/>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value="" rendered="#{addEditDespesaMB.despesa.genero == 0}"/>
                        <h:outputText value="Data Lib. Pagto." rendered="#{addEditDespesaMB.despesa.genero == 0}"/>
                        <p:calendar id="dataLibPagto" pattern="dd/MM/yyyy" value="#{addEditDespesaMB.despesa.dataLiberacaoPagamento}" navigator="true" locale="pt_BR"  onkeypress="if (event.keyCode !== 8) {
                                    mascara(this, mascaraData);
                                }" rendered="#{addEditDespesaMB.despesa.genero == 0}"/>
                        <p:message for="dataLibPagto" display="icon" rendered="#{addEditDespesaMB.despesa.genero == 0}"/>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value="*" rendered="#{addEditDespesaMB.despesa.genero == 2}"/>
                        <h:outputText value="Período De" rendered="#{addEditDespesaMB.despesa.genero == 2}"/>
                        <p:calendar id="dataInicioPeriodo" pattern="dd/MM/yyyy" required="true" value="#{addEditDespesaMB.despesa.dataInicioPeriodo}" navigator="true" locale="pt_BR" rendered="#{addEditDespesaMB.despesa.genero == 2}" onkeypress="if (event.keyCode !== 8) {
                                    mascara(this, mascaraData);
                                }"/>
                        <p:message for="dataInicioPeriodo" display="icon" rendered="#{addEditDespesaMB.despesa.genero == 2}"/>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value="*" rendered="#{addEditDespesaMB.despesa.genero == 2}"/>
                        <h:outputText value="Período Até" rendered="#{addEditDespesaMB.despesa.genero == 2}"/>
                        <p:calendar id="dataFimPeriodo" pattern="dd/MM/yyyy" required="true" value="#{addEditDespesaMB.despesa.dataFimPeriodo}" navigator="true" locale="pt_BR" rendered="#{addEditDespesaMB.despesa.genero == 2}" onkeypress="if (event.keyCode !== 8) {
                                    mascara(this, mascaraData);
                                }"/>
                        <p:message for="dataFimPeriodo" display="icon" rendered="#{addEditDespesaMB.despesa.genero == 2}"/>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value="" rendered="#{addEditDespesaMB.despesa.genero == 2}"/>
                        <h:outputText value="No. diárias" rendered="#{addEditDespesaMB.despesa.genero == 2}" />
                        <p:inputText id="numeroDiarias" value="#{addEditDespesaMB.despesa.numeroDiarias}" rendered="#{addEditDespesaMB.despesa.genero == 2}"/>
                        <h:outputText value="" rendered="#{addEditDespesaMB.despesa.genero == 2}"/>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value="*"/>
                        <h:outputText value="Descrição" />
                        <p:inputTextarea style="width:200px;" id="despDescr" value="#{addEditDespesaMB.despesa.descricao}" required="true" requiredMessage="A Descrição é obrigatória." effectDuration="200" />
                        <h:outputText value=""/>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value=""/>
                        <h:outputText value="Observações" />
                        <p:inputTextarea style="width:200px;" id="despObs" value="#{addEditDespesaMB.despesa.observacao}" autoResize="false" maxHeight="450"/>
                        <p:message for="despObs" display="icon"/>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="4">
                        <h:outputText styleClass="asterisco" value="*" rendered="#{addEditDespesaMB.despesa.genero == 0}"/>
                        <h:outputText value="Status:" rendered="#{addEditDespesaMB.despesa.genero == 0}"/>
                        <h:selectOneMenu id="statusDaDespesa" value="#{addEditDespesaMB.despesa.status}" required="true" rendered="#{addEditDespesaMB.despesa.genero == 0}" requiredMessage="É necessário informar o status da despesa.">
                            <f:selectItem itemLabel="Selecione"/>
                            <f:selectItems value="#{addEditDespesaMB.listaStatusDespesa}"/>
                        </h:selectOneMenu>
                        <p:message for="statusDaDespesa" display="icon" rendered="#{addEditDespesaMB.despesa.genero == 0}"/>
                        </h:panelGrid>
                    </p:column>


                    <p:column>
                        <h:panelGrid id="comboGrid" columns="4">

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Moeda"/>
                            <p:inputText id="moedaAlinea" value="#{addEditDespesaMB.moedaDespesa}" readonly="true"/>
                            <h:outputText value="" />

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Verba Disponível"/>
                            <p:inputText id="verbaAlinea" value="#{addEditDespesaMB.saldoDisponivel}" converter="bigDecimalMoneyConverter" disabled="false" readonly="true" style="text-align: right"/>
                            <h:outputText value="" />

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Valor" />
                            <p:inputText id="vlrDesp" value="#{addEditDespesaMB.despesa.valor}" converter="bigDecimalMoneyConverter" validator="#{addEditDespesaMB.validateValor}" style="text-align: right" onkeypress="mascara(this, valor);"/>
                            <p:message for="vlrDesp" display="icon"/>

                        </h:panelGrid>

                        <p:panel collapsed="true" header="Comprovantes" toggleable="true" style="width: 400px">
                            <p:dataTable value="#{addEditDespesaMB.despesa.documentosComprovacaoDespesas}" var="doccd" id="listaComprDespesas" editable="true"
                                         emptyMessage="#{label.general_NoResults}">
                                <f:facet name="header">
                                    <h:outputText value="Documentos Fiscais" rendered="#{addEditDespesaMB.despesa.genero == 0}"/>
                                    <h:outputText value="Recibos" rendered="#{addEditDespesaMB.despesa.genero > 0}"/>
                                </f:facet>
                                <p:column headerText="Número" style="width:80px">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{doccd.numero}" />
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{doccd.numero}" style="width:100%" onkeypress="if (event.keyCode === 13) {
                                    return false;
                                }"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Data emissão" style="width: 100px" styleClass="colunaMostrarData">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{doccd.dataEmissao}">
                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                            </h:outputText>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:calendar id="dataEmissaoNF" pattern="dd/MM/yyyy" required="true" value="#{doccd.dataEmissao}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}." onkeypress="if (event.keyCode === 13) {
                                    return false;
                                }
                                if (event.keyCode !== 8) {
                                    mascara(this, mascaraData);
                                }"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Valor" styleClass="colunaMostrarValorFinanceiro" style="text-align: right;">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{doccd.valor}" converter="bigDecimalMoneyConverter" />
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText id="valorDocCD" value="#{doccd.valor}" converter="bigDecimalMoneyConverter" style="width: 100%" onkeypress="if (event.keyCode === 13) {
                                    return false;
                                }
                                mascara(this, valor);"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Ações" style="width:50px">
                                    <p:rowEditor />
                                    <p:commandLink id="deletelink" oncomplete="PF('deletePopupNF').show();" immediate="true">
                                        <h:graphicImage value="#{infoAuxilioMB.imagemExcluirRegistroCheque}" style="border:0" />
                                        <f:setPropertyActionListener value="#{doccd}" target="#{addEditDespesaMB.documentoDespesa}" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                            <p:commandButton actionListener="#{addEditDespesaMB.addComprovacaoDespesa}" update=":formEditDespesas:listaComprDespesas" icon="ui-icon-plusthick" immediate="true"
                                             oncomplete="$('##{component.parent.clientId}'.replace(/:/g,'\\\\:')).find('.ui-datatable .ui-datatable-data .ui-row-editor .ui-icon-pencil').last().trigger('click'); $('##{component.parent.clientId}'.replace(/:/g,'\\\\:')).find('.ui-datatable .ui-datatable-data .ui-state-highlight .ui-editable-column').first().find('.ui-cell-editor-input input').focus(); return true;"/>
                        </p:panel>
                        <p:panel collapsed="true" header="Cheques" toggleable="true" style="width: 400px">
                            <p:dataTable value="#{addEditDespesaMB.despesa.documentosComprovacaoPagamentos}" var="doccp" id="listaComprPagamentos" editable="true"
                                         emptyMessage="#{label.general_NoResults}">
                                <f:facet name="header">
                                    Cheques
                                </f:facet>
                                <p:column headerText="Número" style="width:80px">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{doccp.numero}" />
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{doccp.numero}" style="width:100%" onkeypress="if (event.keyCode === 13) {
                                    return false;
                                }"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Data emissão" style="width: 100px" styleClass="colunaMostrarData">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{doccp.dataEmissao}">
                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                            </h:outputText>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:calendar id="dataEmissaoPagto" pattern="dd/MM/yyyy" required="true" value="#{doccp.dataEmissao}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}." onkeypress="if (event.keyCode === 13) {
                                    return false;
                                }
                                if (event.keyCode !== 8) {
                                    mascara(this, mascaraData);
                                }"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Valor" styleClass="colunaMostrarValorFinanceiro" style="text-align: right;">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{doccp.valor}" converter="bigDecimalMoneyConverter"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText id="valorDoccp" value="#{doccp.valor}" converter="bigDecimalMoneyConverter" style="width: 100%" onkeypress="if (event.keyCode === 13) {
                                    return false;
                                }
                                mascara(this, valor);"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Ações" style="width:50px">
                                    <p:rowEditor />
                                    <p:commandLink id="deletelink" oncomplete="PF('deletePopupCheque').show();" immediate="true">
                                        <h:graphicImage value="#{infoAuxilioMB.imagemExcluirRegistroCheque}" style="border:0" />
                                        <f:setPropertyActionListener value="#{doccp}" target="#{addEditDespesaMB.documentoPagto}" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                            <p:commandButton actionListener="#{addEditDespesaMB.addComprovacaoPagto()}" update=":formEditDespesas:listaComprPagamentos" icon="ui-icon-plusthick" immediate="true"
                                             oncomplete="$('##{component.parent.clientId}'.replace(/:/g,'\\\\:')).find('.ui-datatable .ui-datatable-data .ui-row-editor .ui-icon-pencil').last().trigger('click'); $('##{component.parent.clientId}'.replace(/:/g,'\\\\:')).find('.ui-datatable .ui-datatable-data .ui-state-highlight .ui-editable-column').first().find('.ui-cell-editor-input input').focus(); return true;"/>

                        </p:panel>
                        <p:panel collapsed="true" header="Arquivos Anexos" toggleable="true" style="width: 400px">
                            <p:dataTable id="subTabelaArquivos" value="#{addEditDespesaMB.despesa.arquivosAnexos}"  var="arquivo"
                                         emptyMessage="#{label.general_NoResults}">
                                <f:facet name="header">
                                    <h:outputText value="Arquivos Anexos" />
                                </f:facet>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nome" />
                                    </f:facet>
                                    <h:outputText value="#{arquivo.nome}" />
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{label.general_Action}" />
                                    </f:facet>
                                    <h:commandLink title="#{arquivo.nome}" immediate="true">
                                        <p:graphicImage value="/images/icons/down.png" style="border:0"/>
                                        <p:fileDownload value="#{addEditDespesaMB.downloadArquivoAnexo(arquivo)}" />
                                    </h:commandLink>
                                    <p:commandLink oncomplete="PF('deletePopupArquivo').show();" disabled="false" immediate="true">
                                        <h:graphicImage value="/images/icons/del.png" style="border:0" />
                                        <f:setPropertyActionListener value="#{arquivo}" target="#{addEditDespesaMB.arquivoAnexo}" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                            <p:fileUpload id="uploadDeArquivo" auto="true" fileUploadListener="#{addEditDespesaMB.handleFileUpload}" multiple="true" label="" mode="advanced" update=":formEditDespesas:subTabelaArquivos" />
                        </p:panel>
                    </p:column>
                </h:panelGrid>
                </p:scrollPanel>
                <p:messages showDetail="true" showSummary="true"/>
                <h:panelGrid columns="2">
                    <p:commandButton value="#{label.general_Save}"
                                     actionListener="#{addEditDespesaMB.adicionarDespesa(false)}"
                                     action="#{infoAuxilioMB.atualizaAuxilio}"
                                     update="#{renderizeOnComplete} :editDespesaGrid"/>
                    <p:commandButton value="#{label.general_Cancel}"
                                     onclick="PF('editDespesas').hide();
                                return false;" />
                </h:panelGrid>
            </h:form>
        </h:panelGrid>
    </p:dialog>
    <p:dialog widgetVar="deletePopupArquivo" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
        <h:form>
            <h:outputText value="#{label.general_Delete}"/>
            <h:panelGrid columns="2">
                <p:commandButton value="#{label.general_Yes}"
                                 action="#{addEditDespesaMB.excluirArquivoAnexoDespesa}"
                                 update=":formEditDespesas:subTabelaArquivos"/>
                <p:commandButton value="#{label.general_Cancel}"
                                 onclick="PF('deletePopup').hide();
                                return false;" />
            </h:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog widgetVar="deletePopupNF" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
        <h:form>
            <h:outputText value="#{label.general_Delete}"/>
            <h:panelGrid columns="2">
                <p:commandButton value="#{label.general_Yes}"
                                 action="#{addEditDespesaMB.excluirNF}"
                                 update=":formEditDespesas:listaComprDespesas"/>
                <p:commandButton value="#{label.general_Cancel}"
                                 onclick="PF('deletePopupNF').hide();
                                return false;" />
            </h:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog widgetVar="deletePopupCheque" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
        <h:form>
            <h:outputText value="#{label.general_Delete}"/>
            <h:panelGrid columns="2">
                <p:commandButton value="#{label.general_Yes}"
                                 action="#{addEditDespesaMB.excluirCheque}"
                                 update=":formEditDespesas:listaComprPagamentos"/>
                <p:commandButton value="#{label.general_Cancel}"
                                 onclick="PF('deletePopupCheque').hide();
                                return false;" />
            </h:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog widgetVar="selectTipoDocDespesa" width="350" modal="true" header="Gênero da Despesa" resizable="false">
        <h:panelGrid columns="1" id="selectTipoDocDesp">
            <h:form>
                <h:outputText value="Selecione o gênero da despesa"/>
                <h:panelGrid  columns="2">

                    <p:selectOneMenu value="#{addEditDespesaMB.despesa.genero}">
                        <f:selectItem itemLabel="Documento Fiscal" itemValue="0"/>
                        <f:selectItem itemLabel="Recibo" itemValue="1"/>
                        <f:selectItem itemLabel="Diária" itemValue="2"/>
                    </p:selectOneMenu>

                    <p:commandButton value="Avançar" update=":editDespesaGrid"
                                     oncomplete="PF('selectTipoDocDespesa').hide(); PF('editDespesas').show();"/>
                </h:panelGrid>
            </h:form>
        </h:panelGrid>
    </p:dialog>
    <p:dialog widgetVar="deletePopupDespesa" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
        <h:form>
            <h:outputText value="#{label.general_Delete}"/>
            <h:panelGrid columns="2">
                <p:commandButton value="#{label.general_Yes}"
                                 actionListener="#{addEditDespesaMB.excluirDespesa}"
                                 action="#{infoAuxilioMB.atualizaAuxilio}"
                                 update="#{renderizeOnComplete}"/>
                <p:commandButton value="#{label.general_Cancel}"
                                 onclick="PF('deletePopupDespesa').hide();return false;" />
            </h:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog widgetVar="aceiteNotaFiscalDuplicada" width="500" modal="true" header="Documento duplicado" resizable="false">
        <h:form>
            <p:messages id="documentosFiscaisDuplicados" showSummary="true" showDetail="true" autoUpdate="true"/>
            <h:outputText value="Deseja manter ambos?"/>
            <h:panelGrid columns="2">
                <p:commandButton id="botaoConfirmaDocumentosFiscaisDuplicados" value="Sim"
                                 actionListener="#{addEditDespesaMB.adicionarDespesa(true)}"
                                 action="#{infoAuxilioMB.atualizaAuxilio}"
                                 update="#{renderizeOnComplete} :editDespesaGrid"/>
                <p:commandButton value="Não"
                                 onclick="PF('aceiteNotaFiscalDuplicada').hide();;return false;" />
            </h:panelGrid>
        </h:form>
    </p:dialog>
    <ui:include src="addEditPessoaDialog.xhtml">
        <ui:param name="renderizeOnComplete" value=":formEditDespesas:pessoafavorecida"/>
    </ui:include>
    <ui:include src="addEditFornecedorDialog.xhtml">
        <ui:param name="renderizeOnComplete" value=":formEditDespesas:fornecedorfavorecido"/>
    </ui:include>
</ui:composition>