<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="conteudo">
            <h:form id="form1">

                <p:panel header="#{label.general_Find}">
                    <h:panelGrid columns="2">
                        <h:panelGrid columns="8">
                            <p:column>
                                <p:fieldset legend="#{label.general_Keyword}">
                                    <p:inputText value="#{auxilioMB.pesquisa}">
                                        <p:ajax event="keyup" update="tabela" listener="#{auxilioMB.pesquisarAuxilios()}"/>
                                    </p:inputText>
                                </p:fieldset>
                                <p:spacer height="20"/>
                                <p:fieldset legend="Status">
                                    <p:selectOneMenu value="#{auxilioMB.status}">
                                        <f:selectItem itemLabel="Selecione" itemValue=""/>
                                        <f:selectItems value="#{auxilioMB.listaStatus}" var="s" itemLabel="#{s}" itemValue="#{s}"/>
                                        <p:ajax event="valueChange" update="tabela" listener="#{auxilioMB.pesquisarAuxilios()}"/>
                                    </p:selectOneMenu>
                                </p:fieldset>
                            </p:column>

                            <p:fieldset legend="Vigência">
                                <h:panelGrid columns="2">
                                    <p:selectOneRadio id="options" value="#{auxilioMB.pesquisaVigenciaEscopo}" layout="pageDirection">
                                        <f:selectItem itemLabel="Durante o intervalo" itemValue="durante"/><br/>
                                        <f:selectItem itemLabel="No intervalo" itemValue="dentro" /><br/>
                                        <f:selectItem itemLabel="Iniciado em" itemValue="iniciado" />
                                        <p:ajax event="valueChange" process="@this" update=":form1:tabela" listener="#{auxilioMB.pesquisarAuxilios}"/>
                                    </p:selectOneRadio>
                                </h:panelGrid>
                                <p:spacer height="2"/>
                                <h:panelGrid columns="2">
                                    <h:outputText value="Data Inicial" />
                                    <h:outputText value="Data Final" />
                                    <p:calendar pattern="dd/MM/yyyy"
                                                value="#{auxilioMB.dataInicial}"
                                                navigator="true" locale="pt_BR"
                                                onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"
                                                immediate="true"
                                                styleClass="inputCalendario">
                                        <p:ajax event="dateSelect" listener="#{auxilioMB.bindDataInicial}" update="tabela" />
                                        <p:ajax event="blur" listener="#{auxilioMB.pesquisarAuxilios()}" update="tabela"/>
                                    </p:calendar>
                                    <p:calendar pattern="dd/MM/yyyy"
                                                value="#{auxilioMB.dataFinal}"
                                                navigator="true" locale="pt_BR"
                                                onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"
                                                immediate="true"
                                                styleClass="inputCalendario">
                                        <p:ajax event="dateSelect" listener="#{auxilioMB.bindDataFinal}" update="tabela" />
                                        <p:ajax event="blur" listener="#{auxilioMB.pesquisarAuxilios()}" update="tabela"/>
                                    </p:calendar>
                                </h:panelGrid>
                            </p:fieldset>
                            
                            <p:column>
                                <h:panelGrid columns="2">
                                    <p:fieldset legend="Financiador/Modalidade">
                                        <h:panelGrid columns="2">
                                            <p:selectOneMenu value="#{auxilioMB.financiador}" converter="financiadorConverter">
                                                <f:selectItem itemLabel="Selecione" itemValue="#{null}"/>
                                                <f:selectItems value="#{auxilioMB.listaFinanciadores}" var="f" itemLabel="#{f.sigla}" itemValue="#{f}"/>
                                                <p:ajax event="valueChange" update="tabela" listener="#{auxilioMB.pesquisarAuxilios()}"/>
                                            </p:selectOneMenu>
                                            <p:inputText value="#{auxilioMB.pesquisaModalidade}">
                                                <p:ajax event="keyup" update="tabela" listener="#{auxilioMB.pesquisarAuxilios()}"/>
                                            </p:inputText>
                                        </h:panelGrid>
                                    </p:fieldset>

                                    <p:fieldset legend="Outorgado">
                                        <h:panelGrid columns="2">
                                            <p:selectOneMenu value="#{auxilioMB.responsavelPesquisa}" converter="pessoaConverter">
                                                <f:selectItem itemLabel="Selecione" itemValue=""/>
                                                <f:selectItems value="#{auxilioMB.listaResponsaveis}" var="r" itemLabel="#{r.nome}" itemValue="#{r}"/>
                                                <p:ajax event="valueChange" update="tabela" listener="#{auxilioMB.pesquisarAuxilios()}"/>
                                            </p:selectOneMenu>
                                        </h:panelGrid>
                                    </p:fieldset>
                                </h:panelGrid>
                                <p:spacer height="15"/>
                                <p:fieldset legend="Instituição/Unidade/Departamento">
                                    <p:selectOneMenu value="#{auxilioMB.idInstituicao}" id="listaInstituicoes">
                                        <f:selectItem itemLabel="Selecione"/>
                                        <f:selectItems value="#{auxilioMB.listaInstituicoes}"/>
                                        <p:ajax event="valueChange" update="tabela listaUnidades listaDepartamentos" listener="#{auxilioMB.pesquisarAuxilios()}"/>
                                    </p:selectOneMenu>
                                    <p:selectOneMenu value="#{auxilioMB.idUnidade}" id="listaUnidades">
                                        <f:selectItem itemLabel="Selecione"/>
                                        <f:selectItems value="#{auxilioMB.listaUnidades}"/>
                                        <p:ajax event="valueChange" update="tabela listaDepartamentos" listener="#{auxilioMB.pesquisarAuxilios()}"/>
                                    </p:selectOneMenu>
                                    <p:selectOneMenu value="#{auxilioMB.idDepartamento}" id="listaDepartamentos">
                                        <f:selectItem itemLabel="Selecione"/>
                                        <f:selectItems value="#{auxilioMB.listaDepartamentos}"/>
                                        <p:ajax event="valueChange" update="tabela" listener="#{auxilioMB.pesquisarAuxilios()}"/>
                                    </p:selectOneMenu>
                                </p:fieldset>
                            </p:column>
                            <p:column>
                                <p:fieldset legend="Tipo">
                                    <p:selectOneRadio id="filtroTipoBolsaAuxilio" value="#{auxilioMB.pesquisaTipoBolsaAuxilio}">
                                        <f:selectItem itemLabel="Bolsas" itemValue="bolsas" />
                                        <f:selectItem itemLabel="Auxílios" itemValue="auxilios" />
                                        <p:ajax event="valueChange" process="@this" update=":form1:tabela" listener="#{auxilioMB.pesquisarAuxilios()}"/>
                                    </p:selectOneRadio>
                                    <p:spacer height="2"/>
                                </p:fieldset>
                                <p:spacer height="10"/>
                                <p:fieldset legend="Relatórios">
                                    <h:commandLink id="downloadlinkPdf" title="Download PDF">
                                        <p:graphicImage value="/images/icons/application_pdf.png" style="border:0"/>
                                        <p:fileDownload value="#{auxilioMB.downloadReportPdf()}" />
                                    </h:commandLink>
                                    <h:commandLink id="downloadlinkXls" title="Download XLS">
                                        <p:graphicImage value="/images/icons/application_vnd.ms_excel.png" style="border:0"/>
                                        <p:fileDownload value="#{auxilioMB.downloadReportXls()}" />
                                    </h:commandLink>
                                </p:fieldset>
                            </p:column>
                        </h:panelGrid>
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="tabela"
                             lazy="true"
                             value="#{auxilioMB.lazyModel}"
                             var="n"
                             rows="#{auxilioMB.pageSize}"
                             paginatorPosition="bottom"
                             paginator="true"
                             rendered="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}  Total de #{auxilioMB.lazyModel.rowCount} registros encontrados"
                             rowsPerPageTemplate="5,10,15"
                             emptyMessage="#{label.general_NoResults}">
                    <f:facet name="header">
                        <h:outputText value="Auxílios" />
                    </f:facet>

                    <p:column  style="width:20px">
                        <p:rowToggler/>
                    </p:column>

                    <p:column rendered="#{auxilioMB.exibirColunaOwner}" sortBy="#{n.fkResponsavel.nome}">
                        <f:facet name="header">
                            <h:outputText value="Outorgado" />
                        </f:facet>
                        <h:outputText value="#{n.fkResponsavel.nome}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Depto" />
                        </f:facet>
                        <h:outputText value="#{n.fkProjeto.fkDepartamento.sigla}"/>
                    </p:column>

                    <p:column sortBy="#{n.nomeIdentificacao}">
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Titulo}" />
                        </f:facet>
                        <h:outputText value="#{n.nomeIdentificacao}"/>
                    </p:column>

                    <p:column sortBy="#{n.numeroMercurio}" rendered="false">
                        <f:facet name="header">
                            <h:outputText value="Mercúrio" />
                        </f:facet>
                        <h:outputText value="#{n.numeroMercurio}"/>
                    </p:column>

                    <p:column sortBy="#{n.protocoloFinanciador}" styleClass="colunaNumeroProcessoEntidade">
                        <f:facet name="header">
                            <h:outputText value="Proc. Ent. Financ." />
                        </f:facet>
                        <h:outputText value="#{n.protocoloFinanciador}"/>
                    </p:column>

                    <p:column sortBy="#{n.dataInicial}" styleClass="colunaMostrarData">
                        <f:facet name="header">
                            <h:outputText value="Data Início" />
                        </f:facet>
                        <h:outputText value="#{n.dataInicial}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{n.dataFinal}" styleClass="colunaMostrarData">
                        <f:facet name="header">
                            <h:outputText value="Data Fim" />
                        </f:facet>
                        <h:outputText value="#{n.dataFinal}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{n.fkModalidade.nome}">
                        <f:facet name="header">
                            <h:outputText value="Modalidade"/>
                        </f:facet>
                        <h:outputText value ="#{n.fkModalidade.nome}"/>
                    </p:column>

                    <p:column sortBy="#{n.fkModalidade.fkTipoAuxilio.fkFinanciador.sigla}">
                        <f:facet name="header">
                            <h:outputText value="Financiador"/>
                        </f:facet>
                        <h:outputText value ="#{n.fkModalidade.fkTipoAuxilio.fkFinanciador.sigla}"/>
                    </p:column>

                    <p:column sortBy="#{n.status}">
                        <f:facet name="header">
                            <h:outputText value="Status" />
                        </f:facet>
                        <h:outputText value="#{n.status}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Action}" />
                        </f:facet>

                        <p:commandLink id="editAux" update=":editAdicionaAuxilioGrid" actionListener="#{addEditAuxilioMB.prepareEditar(n)}" disabled="#{auxilioMB.podeEditarRegistro()}">
                            <h:graphicImage value="#{auxilioMB.imagemEditarRegistro}" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="editAux" value="Editar Auxilio" />

                        <p:commandLink id="verAux" action="#{auxilioMB.ativarAuxilio}">
                            <h:graphicImage value="/images/icons/ativar.png" style="border:0" />
                            <f:setPropertyActionListener value="#{n}" target="#{auxilioMB.auxilio}"/>
                        </p:commandLink>
                        <p:tooltip for="verAux" value="Gerenciar Auxílio" />

                        <p:commandLink id="addAnexo" oncomplete="PF('addArquivo').show();" update=":addDialogArquivoGrid">
                            <h:graphicImage value="#{auxilioMB.imagemArquivoAnexo}" style="border:0" />
                            <f:setPropertyActionListener value="#{n}" target="#{auxilioMB.auxilio}" />
                        </p:commandLink>
                        <p:tooltip for="addAnexo" value="Inserir arquivo anexo" />
                        
                        <p:commandLink id="deletelink" oncomplete="PF('deletePopup').show();" disabled="#{!auxilioMB.podeExcluirRegistro(n)}">
                            <h:graphicImage value="#{auxilioMB.imagemExcluirRegistro}" style="border:0" />
                            <f:setPropertyActionListener value="#{n}" target="#{auxilioMB.auxilio}" />
                        </p:commandLink>
                        <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                    </p:column>

                    <!--*************************************-->
                    <!--Inicio da Expansão-->
                    <!--*************************************-->
                    <p:rowExpansion>
                        <p:dataTable id="subTabela" value="#{n.alineas}"  var="m"
                                     emptyMessage="#{label.general_NoResults}" lazy="true">
                            <f:facet name="header">
                                <h:outputText value="Alíneas" />
                            </f:facet>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Descrição" />
                                </f:facet>
                                <h:outputText value="#{m.fkCategoriaAlinea.nome}" id="nome" />
                                <f:facet name="footer">
                                    <h:outputText value="Valor Total" id="nomeFooter" />
                                </f:facet>
                            </p:column>

                            <p:column styleClass="colunaMostrarValorFinanceiro" style="text-align:right">
                                <f:facet name="header">
                                    <h:outputText value="Valor Aprovado R$" />
                                </f:facet>
                                <h:outputText value="#{m.moeda==1?m.verbaAprovada:0}" id="valorAprovRs">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                                <f:facet name="footer">
                                    <h:outputText value="#{auxilioMB.somaVerbaAprovada(n,1)}" id="valorFooterAprovRs">
                                        <f:convertNumber pattern="###,###,##0.00"/>
                                    </h:outputText>
                                </f:facet>
                            </p:column>
                            
                            <p:column styleClass="colunaMostrarValorFinanceiro" style="text-align:right">
                                <f:facet name="header">
                                    <h:outputText value="Valor Aprovado U$" />
                                </f:facet>
                                <h:outputText value="#{m.moeda==2?m.verbaAprovada:0}" id="valorAprovUs">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                                <f:facet name="footer">
                                    <h:outputText value="#{auxilioMB.somaVerbaAprovada(n,2)}" id="valorFooterAprovUs">
                                        <f:convertNumber pattern="###,###,##0.00"/>
                                    </h:outputText>
                                </f:facet>
                            </p:column>

                        </p:dataTable>

                        <p:dataTable id="subTabelaArquivos" value="#{n.arquivosAnexos}"  var="arquivo" rendered="#{auxilioMB.possuiArquivoAnexo(n)}" 
                                     emptyMessage="#{label.general_NoResults}" lazy="true">
                            <f:facet name="header">
                                <h:outputText value="Arquivos Anexos" />
                            </f:facet>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nome" />
                                </f:facet>
                                <h:outputText value="#{arquivo.nome}" />
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tipo de Documento" />
                                </f:facet>
                                <h:outputText value="#{arquivo.descricao}" />
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>
                                <h:commandLink title="#{arquivo.nome}">
                                    <p:graphicImage value="/images/icons/down.png" style="border:0"/>
                                    <p:fileDownload value="#{auxilioMB.downloadArquivoAnexoAuxilio(arquivo)}" />
                                </h:commandLink>
                            </p:column>
                        </p:dataTable>

                    </p:rowExpansion>
                    <f:facet name="footer">
                            <h:outputText value="Valor total:" />
                            <p:spacer width="20"/>
                            <h:outputText value="R$ " />
                            <h:outputText value="#{auxilioMB.valorTotalAuxiliosRs}" id="footerValorTotalRs">
                                <f:convertNumber pattern="###,###,##0.00"/>
                            </h:outputText>
                            <p:spacer width="20"/>
                            <h:outputText value="U$ "/>
                            <h:outputText value="#{auxilioMB.valorTotalAuxiliosUs}" id="footerValorTotalUs">
                                <f:convertNumber pattern="###,###,##0.00"/>
                            </h:outputText>
                            <p:spacer width="20"/>
                    </f:facet>
                    <f:facet name="footer">
                        <p:columnGroup>
                            <p:column colspan="5"/>
                            <p:column>
                                <p:commandLink id="addlink" update=":editAdicionaAuxilioGrid" action="#{addEditAuxilioMB.prepareAdicionar}" disabled="#{auxilioMB.podeCriarRegistro()}">
                                    <h:graphicImage value="#{auxilioMB.imagemCriarRegistro}" style="border:0"/>
                                </p:commandLink>
                                <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                            </p:column>
                        </p:columnGroup>
                    </f:facet>

                </p:dataTable>
            </h:form>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addArquivo"
                      id="addDialogArquivo"
                      width="450"
                      modal="true"
                      header="Anexar Arquivo em Auxílio"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addDialogArquivoGrid">
                    <h:form>
                        <h:panelGrid columns="1">
                            <p:dataTable id="listagemArquivos" value="#{auxilioMB.auxilio.arquivosAnexos}"  var="arquivo"
                             emptyMessage="#{label.general_NoResults}">
                                <f:facet name="header">
                                    <h:outputText value="Arquivos Anexos" />
                                </f:facet>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nome" />
                                    </f:facet>
                                    <h:outputText value="#{arquivo.nome}" />
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tipo de Documento" />
                                    </f:facet>
                                    <h:outputText value="#{arquivo.descricao}" />
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{label.general_Action}" />
                                    </f:facet>
                                    <h:commandLink title="#{arquivo.nome}">
                                        <p:graphicImage value="/images/icons/down.png" style="border:0"/>
                                        <p:fileDownload value="#{auxilioMB.downloadArquivoAnexoAuxilio(arquivo)}" />
                                    </h:commandLink>

                                    <p:commandLink oncomplete="PF('deletePopupArquivo').show();" disabled="false">
                                        <h:graphicImage value="#{auxilioMB.imagemExcluirArquivo}" style="border:0" />
                                        <f:setPropertyActionListener value="#{arquivo}" target="#{auxilioMB.arquivoAnexo}" />
                                    </p:commandLink>
                                </p:column>

                            </p:dataTable>
                        </h:panelGrid>
                        <h:panelGrid columns="1">
                            <h:outputText value="Tipo de Arquivo:" />
                            <p:selectOneMenu value="#{auxilioMB.tipoArquivoUpload}"
                                             required="true">
                                <f:selectItems value="#{auxilioMB.listaTipoArquivo}" var="arq" itemLabel="#{arq}" itemValue="#{arq}"/>
                            </p:selectOneMenu>

                            <h:panelGrid columns="2" id="panelUploadArquivo">
                                <p:fileUpload id="uploadDeArquivo" auto="true" fileUploadListener="#{auxilioMB.handleFileUpload}" multiple="false" label="Anexar Arquivo" description="Anexos" update="panelUploadArquivo listagemArquivos"/>
                                <p:message for="uploadDeArquivo" display="icon"/>
                            </h:panelGrid>
                        </h:panelGrid>
                        <h:panelGrid columns="1">
                            <p:commandButton value="Fechar"
                                             onclick="PF('addArquivo').hide();" />
                        </h:panelGrid>

                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <ui:include src="include/addEditAuxilioDialog.xhtml">
                <ui:param name="renderizeOnComplete" value=":form1:tabela, :editAdicionaAuxilioGrid"/>
            </ui:include>

            <!-- ################################### -->
            <!-- bloco de edição -->


            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopupArquivo" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{auxilioMB.excluirArquivoUpload}"
                                         update=":addDialogArquivoGrid, :form1:tabela:subTabelaArquivos"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopupArquivo').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>
            
            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopup"
                      width="250"
                      modal="true"
                      header="#{label.general_Confirm}"
                      resizable="false"
                      id="deleteDialog">
                <h:form id="form3">
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{auxilioMB.excluir}"
                                         update=":form1:tabela, :editAdicionaAuxilioGrid"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>
</html>