<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

            <p:dialog widgetVar="creditsDialog" height="450" width="600" header="Créditos" resizable="false" draggable="true" closable="true" modal="true">
                <p:tabView>
                    <p:tab id="equipe" title="Equipe e agradecimentos">
                        <h:panelGrid columns="1" width="100%">
                            <h:outputText value="Pesquisadores (ICMC USP)" style="font-weight: bold"/>
                            <h:outputText value="José Carlos Maldonado (coordenador)"/>
                            <h:outputText value="Elisa Yumi Nakagawa"/>
                            <h:outputText value="Kalinka Regina Lucas Jaquie Castelo Branco"/>
                            <h:outputText value="Paulo Cesar Masiero"/>
                            <h:outputText value="Rosana Teresinha Vaccare Braga"/>
                            <p:spacer/>
                            <h:outputText value="Gabinete de Planejamento de Gestão (GPG ICMC USP)" style="font-weight: bold"/>
                            <h:outputText value="João Antonio Aparecido Salla"/>
                            <p:spacer/>
                            <h:outputText value="Serviço de Convênios, Bolsas e Auxílios (SVCONBA ICMC USP)" style="font-weight: bold"/>
                            <h:outputText value="Tatiana Flores Ximenes (chefe do setor)"/>
                            <h:outputText value="Aline Zamoro Martinez"/>
                            <h:outputText value="Amanda Kelly Durici"/>
                            <h:outputText value="Dóra Versétti"/>
                            <h:outputText value="Flávia Cavalcanti Macambyra"/>
                            <h:outputText value="Patrícia Jacomassi Chacarolli"/>
                            <p:spacer/>
                            <h:outputText value="Seção Técnica de Informática (STI ICMC USP)" style="font-weight: bold"/>
                            <h:outputText value="Artur José Ferro Sampaio"/>
                            <h:outputText value="Luciano Lacerda Silveira"/>
                            <p:spacer/>
                            <h:outputText value="Departamento de Tecnologia da Informação da Reitoria da USP (DTI USP)" style="font-weight: bold"/>
                            <h:outputText value="Luis Carlos Moreira Gomes"/>
                            <h:outputText value="Fernando Favato"/>
                            <h:outputText value="Leandro Fregnani"/>
                            <h:outputText value="Márcio Eiiti Kaneko"/>
                            <h:outputText value="Renato Takeshi Hamatu"/>
                            <h:outputText value="Silvio de Paula"/>
                            <p:spacer/>
                            <p:spacer/>
                            <h:outputText value="Agradecemos o apoio e colaboração de todos os envolvidos no desenvolvimento do Sistema de Gestão de Projetos Científicos, SGPC, especialmente à Pró-Reitoria de Pesquisa da USP (PRP USP), ao Departamento de Tecnologia da Informação da Reitoria da USP (DTI USP), ao Instituto Nacional de Ciência e Tecnologia – Sistemas Embarcados Críticos (INCT-SEC) e ao Núcleo de Apoio à Pesquisa de Software livre (NAP-SoL ICMC USP)."/>
                            <h:outputText value="Agradecemos também a todas as unidades piloto pela realização de testes e sugestões de melhoria."/>
                            
                        </h:panelGrid>
                    </p:tab>
                    <p:tab id="apoio" title="Apoio">
                        <h:panelGrid columns="2" style="text-align: center" width="100%">
                            <h:outputLink value="http://www.usp.br" target="_BLANK">
                                <h:graphicImage value="/images/logos/logo-usp.jpg" style="text-align: center"/>
                            </h:outputLink>
                            <h:panelGrid columns="1" style="text-align: center" width="100%">
                                <h:outputText value="Universidade de São Paulo."/>
                                <h:outputLink value="http://www.usp.br" target="_BLANK">
                                    <h:outputText value="http://www.usp.br"/>
                                </h:outputLink>
                            </h:panelGrid>
                        </h:panelGrid>
                        <br/>
                        <h:panelGrid columns="2" style="text-align: center" width="100%">
                            <h:outputLink value="http://www.inct-sec.org" target="_BLANK">
                                <h:graphicImage value="/images/logos/INCT-SEC.jpg" style="text-align: center"/>
                            </h:outputLink>
                            <h:panelGrid columns="1" style="text-align: center" width="100%">
                                <h:outputText value="Instituto Nacional de Ciência e Tecnologia em Sistemas Embarcados Críticos."/>
                                <h:outputLink value="http://www.inct-sec.org" target="_BLANK">
                                    <h:outputText value="http://www.inct-sec.org"/>
                                </h:outputLink>
                            </h:panelGrid>
                        </h:panelGrid>
                        <br/>
                        <h:panelGrid columns="2" style="text-align: center" width="100%">
                            <h:outputLink value="http://www.icmc.usp.br" target="_BLANK">
                                <h:graphicImage value="/images/logos/icmc.jpg" style="text-align: center"/>
                            </h:outputLink>
                            <h:panelGrid columns="1" style="text-align: center" width="100%">
                                <h:outputText value="Instituto de Ciências Matemáticas e de Computação."/>
                                <h:outputLink value="http://www.icmc.usp.br" target="_BLANK">
                                    <h:outputText value="http://www.icmc.usp.br"/>
                                </h:outputLink>
                            </h:panelGrid>
                        </h:panelGrid>
                        <br/>
                        <h:panelGrid columns="2" style="text-align: center" width="100%">
                            <h:outputLink value="http://www.fusp.org.br/" target="_BLANK">
                                <h:graphicImage value="/images/logos/fusp.jpg" style="text-align: center"/>
                            </h:outputLink>
                            <h:panelGrid columns="1" style="text-align: center" width="100%">
                                <h:outputText value="Fundação de Apoio à Universidade de São Paulo."/>
                                <h:outputLink value="http://www.fusp.org.br/" target="_BLANK">
                                    <h:outputText value="http://www.fusp.org.br/"/>
                                </h:outputLink>
                            </h:panelGrid>
                        </h:panelGrid>
                    </p:tab>
                    <p:tab id="tecnologias" title="Tecnologias">
                        <h:panelGrid columns="2" style="text-align: center" width="100%">
                            <h:outputLink value="http://www.java.com/" target="_BLANK">
                                <h:graphicImage value="/images/logos/java.jpg" style="text-align: center"/>
                            </h:outputLink>
                            <h:panelGrid columns="1" style="text-align: center" width="100%">
                                <h:outputText value="Java"/>
                                <h:outputLink value="http://www.java.com/" target="_BLANK">
                                    <h:outputText value="http://www.java.com/"/>
                                </h:outputLink>
                            </h:panelGrid>

                            <h:outputLink value="http://www.primefaces.org/" target="_BLANK">
                                <h:graphicImage value="/images/logos/primefaces.png" style="text-align: center"/>
                            </h:outputLink>
                            <h:panelGrid columns="1" style="text-align: center" width="100%">
                                <h:outputText value="Primefaces"/>
                                <h:outputLink value="http://www.primefaces.org/" target="_BLANK">
                                    <h:outputText value="http://www.primefaces.org/"/>
                                </h:outputLink>
                            </h:panelGrid>

                            <h:outputLink value="http://glassfish.java.net/" target="_BLANK">
                                <h:graphicImage value="/images/logos/glassfish.png" style="text-align: center"/>
                            </h:outputLink>
                            <h:panelGrid columns="1" style="text-align: center" width="100%">
                                <h:outputText value="Glassfish"/>
                                <h:outputLink value="http://glassfish.java.net/" target="_BLANK">
                                    <h:outputText value="http://glassfish.java.net/"/>
                                </h:outputLink>
                            </h:panelGrid>

                            <h:outputLink value="http://www.hibernate.org/" target="_BLANK">
                                <h:graphicImage value="/images/logos/hibernate.png" style="text-align: center"/>
                            </h:outputLink>
                            <h:panelGrid columns="1" style="text-align: center" width="100%">
                                <h:outputText value="Hibernate"/>
                                <h:outputLink value="http://www.hibernate.org/" target="_BLANK">
                                    <h:outputText value="http://www.hibernate.org/"/>
                                </h:outputLink>
                            </h:panelGrid>

                            <h:outputLink value="http://www.postgresql.org/" target="_BLANK">
                                <h:graphicImage value="/images/logos/postgresql.gif" style="text-align: center"/>
                            </h:outputLink>
                            <h:panelGrid columns="1" style="text-align: center" width="100%">
                                <h:outputText value="PostgreSQL"/>
                                <h:outputLink value="http://www.postgresql.org/" target="_BLANK">
                                    <h:outputText value="http://www.postgresql.org/"/>
                                </h:outputLink>
                            </h:panelGrid>
                        </h:panelGrid>
                    </p:tab>
                </p:tabView>
            </p:dialog>
</ui:composition>