<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">
            <h:form id="form1">

                <p:panel header="#{label.general_Find}">
                    <h:panelGrid columns="2">
                        <h:panelGrid columns="10">
                            <h:outputText value="#{label.general_Keyword}" />
                            <h:outputText value="No. Fiscal" />
                            <h:outputText value="Data Inicial Doc. Fiscal" />
                            <h:outputText value="Data Final Doc. Fiscal" />
                            <h:outputText value="No. Cheque" />
                            <h:outputText value="Dt. Ini. Cheque" />
                            <h:outputText value="Dt. Fim Cheque" />
                            <h:outputText value="Financiador" />
                            <h:outputText value="Status" />
                            <h:outputText value="Centro Despesa" />

                            <p:inputText value="#{despesaMB.pesquisa}">
                                <p:ajax event="keyup" update="tabela" listener="#{despesaMB.pesquisar(false)}" />
                            </p:inputText>

                            <p:inputText value="#{despesaMB.pesquisaDespesaNumeroDocFiscal}">
                                <p:ajax event="keyup" update="tabela" listener="#{despesaMB.pesquisar(false)}"/>
                            </p:inputText>
                            <p:calendar pattern="dd/MM/yyyy"
                                        value="#{despesaMB.dataInicialDocDespesa}"
                                        navigator="true" locale="pt_BR"
                                        onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"
                                        immediate="true"
                                        styleClass="dateInput">
                                <p:ajax event="dateSelect" listener="#{despesaMB.bindDataInicialDocDespesa}" update="tabela" />
                                <p:ajax event="blur" listener="#{despesaMB.pesquisar(false)}" update="tabela"/>
                            </p:calendar>
                            
                            <p:calendar pattern="dd/MM/yyyy"
                                        value="#{despesaMB.dataFinalDocDespesa}"
                                        navigator="true" locale="pt_BR"
                                        onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"
                                        immediate="true"
                                        styleClass="dateInput">
                                <p:ajax event="dateSelect" listener="#{despesaMB.bindDataFinalDocDespesa}" update="tabela" />
                                <p:ajax event="blur" listener="#{despesaMB.pesquisar(false)}" update="tabela"/>
                            </p:calendar>
                            
                            <p:inputText value="#{despesaMB.pesquisaDespesaNumeroCheque}">
                                <p:ajax event="keyup" update="tabela" listener="#{despesaMB.pesquisar(false)}"/>
                            </p:inputText>
                            <p:calendar pattern="dd/MM/yyyy"
                                        value="#{despesaMB.dataInicialCheque}"
                                        navigator="true" locale="pt_BR"
                                        onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"
                                        immediate="true"
                                        styleClass="dateInput">
                                <p:ajax event="dateSelect" listener="#{despesaMB.bindDataInicialChequeDespesa}" update="tabela"/>
                                <p:ajax event="blur" listener="#{despesaMB.pesquisar(false)}" update="tabela"/>
                            </p:calendar>
                            
                            <p:calendar pattern="dd/MM/yyyy"
                                        value="#{despesaMB.dataFinalCheque}"
                                        navigator="true" locale="pt_BR"
                                        onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"
                                        immediate="true"
                                        styleClass="dateInput">
                                <p:ajax event="dateSelect" listener="#{despesaMB.bindDataFinalChequeDespesa}" update="tabela"/>
                                <p:ajax event="blur" listener="#{despesaMB.pesquisar(false)}" update="tabela"/>
                            </p:calendar>


                            <p:selectOneMenu value="#{despesaMB.financiador}" converter="financiadorConverter">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{despesaMB.listaFinanciadores}" var="f" itemLabel="#{f.sigla}" itemValue="#{f}"/>
                                <p:ajax event="valueChange" update="tabela" listener="#{despesaMB.pesquisar(false)}"/>
                            </p:selectOneMenu>


                            <p:selectOneMenu value="#{despesaMB.status}">
                                <f:selectItem itemLabel="Selecione" itemValue=""/>
                                <f:selectItems value="#{despesaMB.listaStatus}" var="s" itemLabel="#{s}" itemValue="#{s}" />
                                <p:ajax event="valueChange" update="tabela" listener="#{despesaMB.pesquisar(false)}"/>
                            </p:selectOneMenu>

                            <p:selectOneMenu value="#{despesaMB.centroDespesa}" converter="centroDespesaConverter">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{despesaMB.listaCentroDespesa}" var="cd" itemLabel="#{cd.nome}" itemValue="#{cd}"/>
                                <p:ajax event="valueChange" update="tabela" listener="#{despesaMB.pesquisar(false)}"/>
                            </p:selectOneMenu>

                        </h:panelGrid>
                        <h:panelGrid columns="2">
                            <h:commandLink id="downloadlinkPdf" title="Download PDF">
                                <p:graphicImage value="/images/icons/application_pdf.png" style="border:0"/>
                                <p:fileDownload value="#{despesaMB.downloadReportPdf()}" />
                            </h:commandLink>
                            <h:commandLink id="downloadlinkXls" title="Download XLS">
                                <p:graphicImage value="/images/icons/application_vnd.ms_excel.png" style="border:0"/>
                                <p:fileDownload value="#{despesaMB.downloadReportXls()}" />
                            </h:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </p:panel>

                <p:dataTable id="tabela" value="#{despesaMB.listaDespesas}" var="n" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}  Total de #{despesaMB.listaDespesas.size()} registros encontrados"
                             paginatorPosition="bottom" paginator="true" rendered="true"
                             rowsPerPageTemplate="5,10,15"
                             emptyMessage="#{label.general_NoResults}">
                    <f:facet name="header">
                        <h:outputText value="Despesas" />
                    </f:facet>

                    <p:column styleClass="colunaMostrarData">
                        <f:facet name="header">
                            <h:outputText value="Dt Doc Fiscal " />
                        </f:facet>
                        <h:outputText value="#{despesaMB.datasEmissaoDocsFiscais(n)}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    
                    <p:column styleClass="colunaMostrarData">
                        <f:facet name="header">
                            <h:outputText value="Dt Cheque " />
                        </f:facet>
                        <h:outputText value="#{despesaMB.datasEmissaoCheques(n)}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{n.status}">
                        <f:facet name="header">
                            <h:outputText value="Status" />
                        </f:facet>
                        <h:outputText value="#{n.status}"/>
                    </p:column>

                    <p:column sortBy="#{n.fkAlinea.fkAuxilio.fkProjeto.fkResponsavel.nome}">
                        <f:facet name="header">
                            <h:outputText value="Responsável" />
                        </f:facet>
                        <h:outputText value="#{n.fkAlinea.fkAuxilio.fkProjeto.fkResponsavel.nome}"/>
                    </p:column>

                    <p:column sortBy="#{n.fkSubcentro.fkCentroDespesa.nome}">
                        <f:facet name="header">
                            <h:outputText value="Centro Despesa" />
                        </f:facet>
                        <h:outputText value="#{n.fkSubcentro.fkCentroDespesa.nome}"/>
                    </p:column>

                    <p:column sortBy="#{n.fkAlinea.fkAuxilio.fkModalidade.fkTipoAuxilio.fkFinanciador.sigla}">
                        <f:facet name="header">
                            <h:outputText value="Financiador" />
                        </f:facet>
                        <h:outputText value="#{n.fkAlinea.fkAuxilio.fkModalidade.fkTipoAuxilio.fkFinanciador.sigla}"/>
                    </p:column>


                    <p:column sortBy="#{n.fkAlinea.fkCategoriaAlinea.nome}">
                        <f:facet name="header">
                            <h:outputText value="Alínea" />
                        </f:facet>
                        <h:outputText value="#{n.fkAlinea.fkCategoriaAlinea.nome}" />
                    </p:column>

                    <p:column style="width: 100px" sortBy="#{despesa.favorecido}">
                        <f:facet name="header">
                            <h:outputText value="Favorecido" />
                        </f:facet>
                        <h:outputText value="#{despesa.favorecido}" />
                    </p:column>

                    <p:column style="width: 100px" sortBy="#{despesa.documentoFavorecido}">
                        <f:facet name="header">
                            <h:outputText value="Docto Favorecido" />
                        </f:facet>
                        <h:outputText value="#{despesa.documentoFavorecido}" />
                    </p:column>

                    <p:column sortBy="#{n.observacao}">
                        <f:facet name="header">
                            <h:outputText value="Observação" />
                        </f:facet>
                        <h:outputText value="#{n.observacao}" />
                    </p:column>

                    <p:column sortBy="#{n.valor}" styleClass="colunaMostrarValorFinanceiro">
                        <f:facet name="header">
                            <h:outputText value="Valor" />
                        </f:facet>
                        <h:outputText value="#{n.valor}">
                            <f:convertNumber pattern="###,###,##0.00"/>
                        </h:outputText>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Action}" />
                        </f:facet>

                        <p:commandLink id="detalharAuxilio" action="#{despesaMB.detalharAuxilio(n.fkAlinea.fkAuxilio)}">
                            <h:graphicImage value="/images/icons/ativar.png" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="detalharAuxilio" value="Exibir auxílio" />
                    </p:column>

                </p:dataTable>
            </h:form>


            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addEditPopup"
                      id="addDialog"
                      width="350"
                      modal="true"
                      header="#{label.general_Edit}"
                      draggable="true"
                      visible="#{not empty facesContext.maximumSeverity}"
                      resizable="false">
                <h:panelGrid columns="1" id="addEditPanel">
                    <h:form>
                        <h:panelGrid columns="3">


                        </h:panelGrid>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{despesaMB.gravar}"
                                         update=":form1:tabela, :addDialog"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopup').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{despesaMB.excluir}"
                                         update=":form1:tabela"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>
</html>