<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">

            <h:form id="form1">
                <p:panel header="#{label.general_Find}">
                    <h:panelGrid columns="2">
                        <h:panelGrid columns="2">
                            <h:outputText value="#{label.general_Keyword}" />
                            <p:inputText value="#{financiadorMB.pesquisa}">
                                <p:ajax event="keyup" update="tabela" listener="#{financiadorMB.pesquisar}" />
                            </p:inputText>
                        </h:panelGrid>
                        <h:panelGrid columns="2">
                            <h:commandLink id="downloadlinkPdf" title="Download PDF">
                                <p:graphicImage value="/images/icons/application_pdf.png" style="border:0"/>
                                <p:fileDownload value="#{financiadorMB.downloadReportPdf()}" />
                            </h:commandLink>
                            <h:commandLink id="downloadlinkXls" title="Download XLS">
                                <p:graphicImage value="/images/icons/application_vnd.ms_excel.png" style="border:0"/>
                                <p:fileDownload value="#{financiadorMB.downloadReportXls()}" />
                            </h:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </p:panel>

                <p:dataTable id="tabela" value="#{financiadorMB.listaFinanciadores}"
                             rowsPerPageTemplate="10,20,30"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}  Total de #{financiadorMB.listaFinanciadores.size()} registros encontrados"
                             var="n" rows="10" paginatorPosition="bottom" paginator="true"
                             rendered="true"
                             emptyMessage="#{label.general_NoResults}">

                    <f:facet name="header">
                        <h:outputText value="Financiadores" />
                    </f:facet>

                    <p:column sortBy="#{n.nome}">
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Name}" />
                        </f:facet>
                        <h:outputText value="#{n.nome}" id="nome" />
                    </p:column>

                    <p:column sortBy="#{n.sigla}">
                        <f:facet name="header">
                            <h:outputText value="Sigla" />
                        </f:facet>
                        <h:outputText value="#{n.sigla}" id="sigla" />
                    </p:column>

                    <p:column sortBy="#{n.cnpj}">
                        <f:facet name="header">
                            <h:outputText value="CNPJ" />
                        </f:facet>
                        <h:outputText value="#{n.cnpj}" id="cnpj" />
                    </p:column>

                    <p:column sortBy="#{n.email}">
                        <f:facet name="header">
                            <h:outputText value="e-mail" />
                        </f:facet>
                        <h:outputText value="#{n.email}" id="email" />
                    </p:column>

                    <!--Ações para Financiadores -->
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Action}" />
                        </f:facet>
                        <p:commandLink id="abrirLinhas" action="#{financiadorMB.abreLinhas(n)}">
                            <h:graphicImage value="/images/icons/detail.png" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="abrirLinhas" value="Exibir Tipos de Auxilio" />

                        <p:commandLink id="editlink" update=":addEditPanel"
                                       actionListener="#{financiadorMB.prepareEditar(n)}" disabled="#{!financiadorMB.podeEditarFinanciador}">
                            <h:graphicImage value="#{financiadorMB.imagemEditarRegistro}" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="editlink" value="#{label.general_Edit_Tip}" />

                        <p:commandLink id="deletelink" actionListener="#{financiadorMB.prepareExcluir(n)}" disabled="#{!financiadorMB.podeExcluirFinanciador}">
                            <h:graphicImage value="#{financiadorMB.imagemExcluirRegistro}" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                    </p:column>

                    <f:facet name="footer">
                        <p:columnGroup>
                            <p:column colspan="1"/>
                            <p:column>
                                <p:commandLink id="addlink" update=":addEditPanel"
                                               actionListener="#{financiadorMB.prepareAdicionar}" immediate="true"
                                               disabled="#{!financiadorMB.podeCriarFinanciador}">
                                    <h:graphicImage value="#{financiadorMB.imagemCriarRegistro}" style="border:0"/>
                                </p:commandLink>
                                <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                            </p:column>
                        </p:columnGroup>
                    </f:facet>
                    <!--Aqui estava o row expansion -->
                </p:dataTable>
            </h:form>



            <!--****************************************-->
            <!-- FINANCIADORES: EDIÇÃO/ADIÇÃO E EXCLUSÃO-->
            <!--****************************************-->

            <p:dialog widgetVar="addEditPopup"
                      width="450"
                      modal="true"
                      header="#{(financiadorMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      draggable="true"                      
                      resizable="false">
                <h:panelGrid columns="1" id="addEditPanel">
                    <h:form>
                        <h:panelGrid columns="4">
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_Name}" />
                            <p:inputTextarea style="width:300px;" autoResize="true" effectDuration="5" maxHeight="20" value="#{financiadorMB.financiador.nome}" id="nome" required="true"
                                         requiredMessage="#{label.general_Name_Required}"/>
                            <p:message for="nome" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Sigla" />
                            <p:inputText value="#{financiadorMB.financiador.sigla}" id="sigla"/>
                            <p:message for="sigla" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="CNPJ" />
                            <p:inputText value="#{financiadorMB.financiador.cnpj}" id="cnpj"/>
                            <p:message for="sigla" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="e-mail" />
                            <p:inputText value="#{financiadorMB.financiador.email}" id="email"/>
                            <p:message for="email" display="icon"/>
                            
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Relatório padrão"/>
                            <h:selectOneMenu value="#{financiadorMB.idModeloRelatorio}" required="true" id="relatorioPadrao" requiredMessage="É necessário indicar o relatório de prestação de contas padrão">
                                <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                <f:selectItems value="#{financiadorMB.listaModelosRelatoriosSelectItem}"/>
                            </h:selectOneMenu>
                            <p:message for="relatorioPadrao" display="icon"/>
                        </h:panelGrid>
                        <p:messages/>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{financiadorMB.gravar}"
                                         update=":form1:tabela, :addEditPanel"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopup').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <p:dialog widgetVar="deletePopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <p:messages autoUpdate="true" showSummary="true" showDetail="true"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         actionListener="#{financiadorMB.excluir}"
                                         update="#{renderizeOnComplete} :form1:tabela"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>
</html>