<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">
            <h:form id="formInfoPessoa">
                <p:panel header="Informações da Pessoa">
                    <p:panel id="panelPessoa">
                        <h:panelGrid columns="2">
                            <h:outputText value="Nome:" />
                            <h:outputText value="#{infoPessoaMB.pessoa.nome}" id="nomePessoa"/>
                            <h:outputText value="Username:" />
                            <h:outputText value="#{infoPessoaMB.pessoa.username}"/>
                            <h:outputText value="email:" />
                            <h:outputText value="#{infoPessoaMB.pessoa.email}"/>
                        </h:panelGrid>
                    </p:panel>
                    <p:panel header="Contas Correntes" toggleable="true">
                        <p:dataTable id="tabela" value="#{infoPessoaMB.listaContasCorrente}"  var="contaCorrente">

                            <p:column sortBy="#{contaCorrente.fkBanco.nome}">
                                <f:facet name="header">
                                    <h:outputText value="Instituição Bancária" />
                                </f:facet>
                                <h:outputText value="#{contaCorrente.fkBanco.nome}"/>
                            </p:column>
                            <p:column sortBy="#{contaCorrente.agencia}">
                                <f:facet name="header">
                                    <h:outputText value="Agência" />
                                </f:facet>
                                <h:outputText value="#{contaCorrente.agencia}"/>
                            </p:column>
                            <p:column sortBy="#{contaCorrente.numero}">
                                <f:facet name="header">
                                    <h:outputText value="Número" />
                                </f:facet>
                                <h:outputText value="#{contaCorrente.numero}"/>
                            </p:column>
                            <p:column sortBy="#{contaCorrente.dataAbertura}" styleClass="colunaMostrarData">
                                <f:facet name="header">
                                    <h:outputText value="Dt. Abertura" />
                                </f:facet>
                                <h:outputText value="#{contaCorrente.dataAbertura}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Ativa" />
                                </f:facet>
                                <h:selectBooleanCheckbox value="#{contaCorrente.ativa}" disabled="true"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>

                                <p:commandLink id="editlink" update=":addEditPanelCorrente" actionListener="#{addEditContaCorrenteMB.prepareEditarCC(contaCorrente.id)}">
                                    <h:graphicImage value="#{infoPessoaMB.imagemEditarRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{infoPessoaMB.pessoa}" target="#{addEditContaCorrenteMB.responsavelCC}"/>
                                </p:commandLink>
                                <p:tooltip for="editlink" value="#{label.general_Edit_Tip}" />

                                <p:commandLink id="deletelink" actionListener="#{addEditContaCorrenteMB.prepareExcluirCC(contaCorrente.id)}" disabled="true">
                                    <h:graphicImage value="#{infoPessoaMB.imagemExcluirRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{contaCorrente}" target="#{infoPessoaMB.contaCorrente}" />
                                </p:commandLink>
                                <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                            </p:column>

                            <f:facet name="footer">
                                <p:columnGroup>
                                    <p:column colspan="3"/>
                                    <p:column>
                                        <p:commandLink id="addlink" update=":addEditPanelCorrente" action="#{addEditContaCorrenteMB.prepareAdicionarCC}" immediate="true">
                                            <h:graphicImage value="/images/icons/add1.png" style="border:0"/>
                                            <f:setPropertyActionListener value="#{infoPessoaMB.pessoa}" target="#{addEditContaCorrenteMB.responsavelCC}"/>
                                        </p:commandLink>
                                        <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                                    </p:column>
                                </p:columnGroup>
                            </f:facet>
                        </p:dataTable>
                    </p:panel>
                </p:panel>
            </h:form>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoPessoaMB.excluir}"
                                         update=":formInfoPessoa:tabela"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>
            
            <ui:include src="include/addEditContaCorrenteDialog.xhtml">
                <ui:param name="renderizeOnComplete" value=":formInfoPessoa:tabela"/>
            </ui:include>
        </ui:define>
    </ui:composition>
</html>