<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">
            <h:form id="form1">
                <p:panel header="Informações da Cotação">

                    <p:panel id="panelCotacao">
                        <h:panelGrid columns="1">
                            <h:panelGrid columns="5">

                                <h:outputText value="Data Solicitada:" />
                                <h:outputText value="#{infoCotacaoMB.cotacao.dataSolicitada}" id="dataS">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                                <p:separator/>
                                <h:outputText value="Status:" />
                                <h:outputText value="#{infoCotacaoMB.cotacao.status}"/>

                                <h:outputText value="Observações:" />
                                <h:outputText value="#{infoCotacaoMB.cotacao.observacoes}"/>

                            </h:panelGrid>
                            <p:commandButton value="Solicitar Cotação" actionListener="#{infoCotacaoMB.solicitarCotacao}" update="form1:panelCotacao, form1:tabelaItem" rendered="#{infoCotacaoMB.podeSolicitarFinanceiro()}"/>

                        </h:panelGrid>
                    </p:panel>


                    <!--Painel de Alineas-->
                    <p:panel header="Itens da Cotação" toggleable="true">
                        <p:dataTable id="tabelaItem" value="#{infoCotacaoMB.cotacao.itens}"  var="item">

                            <p:column sortBy="#{item.quantidade}">
                                <f:facet name="header">
                                    <h:outputText value="Quantidade" />
                                </f:facet>
                                <h:outputText value="#{item.quantidade}"/>
                            </p:column>

                            <p:column sortBy="#{item.fkProduto.descricao}">
                                <f:facet name="header">
                                    <h:outputText value="Item" />
                                </f:facet>
                                <h:outputText value="#{item.fkProduto.descricao}"/>
                            </p:column>

                            <p:column sortBy="#{item.status}">
                                <f:facet name="header">
                                    <h:outputText value="Status" />
                                </f:facet>
                                <h:outputText value="#{item.status}"/>
                            </p:column>

                            <p:column sortBy="#{item.unidade}">
                                <f:facet name="header">
                                    <h:outputText value="Unidade" />
                                </f:facet>
                                <h:outputText value="#{item.unidade}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Observação" />
                                </f:facet>
                                <h:outputText value="#{item.observacao}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>

                                <p:commandLink id="editlinkItem" oncomplete="PF('addEditPopupItem').show();" update="addEditPanelItem" action="#{infoCotacaoMB.prepareEditar}" disabled="#{!infoCotacaoMB.podeEditarItem(item)}">
                                    <h:graphicImage value="#{infoCotacaoMB.imagemEditarRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{item}" target="#{infoCotacaoMB.item}" />
                                </p:commandLink>
                                <p:tooltip for="editlinkItem" value="#{label.general_Edit_Tip}" />

                                <p:commandLink id="deletelinkItem" oncomplete="PF('deletePopupItem').show();" disabled="#{!infoCotacaoMB.podeEditarItem(item)}">
                                    <h:graphicImage value="#{infoCotacaoMB.imagemExcluirRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{item}" target="#{infoCotacaoMB.item}" />
                                </p:commandLink>
                                <p:tooltip for="deletelinkItem" value="#{label.general_Delete_Tip}" />

                                <p:commandLink id="ativar" oncomplete="PF('addEditPopupSolicitacao').show();" update="addEditPanelSolicitacao" action="#{infoCotacaoMB.prepareAdicionarSolicitacao}" rendered="#{infoCotacaoMB.podeSolicitarCotacao()}" disabled="#{!infoCotacaoMB.podeEditarItem(item)}">
                                    <h:graphicImage value="/images/icons/ativar.png" style="border:0" />
                                    <f:setPropertyActionListener value="#{item}" target="#{infoCotacaoMB.item}" />
                                </p:commandLink>
                                <p:tooltip for="ativar" value="Solicitar Orçamento" />

                                <p:commandLink id="aprovar" oncomplete="PF('addEditPopupCotacao').show();" update="addEditPanelCotacao" action="#{infoCotacaoMB.prepareEditarAprovacao}" rendered="#{infoCotacaoMB.podeAprovarItem(item)}">
                                    <h:graphicImage value="/images/icons/ativar.png" style="border:0" />
                                    <f:setPropertyActionListener value="#{item}" target="#{infoCotacaoMB.item}" />
                                </p:commandLink>
                                <p:tooltip for="aprovar" value="Ver Cotação" />

                            </p:column>

                            <f:facet name="footer">
                                <p:column>
                                    <p:commandLink id="addlinkItem" oncomplete="PF('addPopupItem').show();" update="addPanelItem" action="#{infoCotacaoMB.prepareAdicionar}" immediate="true" rendered="false">
                                        <h:graphicImage value="#{infoCotacaoMB.imagemCriarRegistro}" style="border:0"/>
                                    </p:commandLink>
                                    <p:tooltip for="addlinkItem" value="#{label.general_Add_Tip}" />

                                </p:column>
                            </f:facet>

                        </p:dataTable>
                    </p:panel>


                    <p:panel header="Selecionar Produto"  rendered="#{infoCotacaoMB.podeAdicionarItem()}">
                        <h:panelGrid columns="2">
                            <h:outputText value="#{label.general_Keyword}" />
                            <h:outputText value="Grupo de Fornecimento" />

                            <p:inputText value="#{infoCotacaoMB.pesquisa}">
                                <p:ajax event="keyup" update="tabelaProduto" listener="#{infoCotacaoMB.pesquisar}" />
                            </p:inputText>

                            <p:selectOneMenu value="#{infoCotacaoMB.grupo}" converter="grupoFornecimentoConverter">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{infoCotacaoMB.listaGruposFornecimento}" var="f" itemLabel="#{f.nome}" itemValue="#{f}"/>
                                <p:ajax event="valueChange" update="tabelaProduto" listener="#{infoCotacaoMB.pesquisar()}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>

                        <p:dataTable id="tabelaProduto" value="#{infoCotacaoMB.listaProdutos}" var="n" rows="10" rendered="true"
                                     paginatorPosition="bottom"
                                     rowsPerPageTemplate="5,10,15"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}  Total de #{infoCotacaoMB.listaProdutos.size()} registros encontrados"
                                     paginator="true"
                                     selectionMode="single"
                                     selection="#{infoCotacaoMB.produto}"
                                     rowKey="#{n.id}">

                            <p:ajax event="rowSelect" listener="#{infoCotacaoMB.selecionarProduto}"
                                    update="addPanelItem" oncomplete="PF('addPopupItem').show();" />

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Descricao}"/>
                                </f:facet>
                                <h:outputText value="#{n.descricao}" id="descricao"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Marca}"/>
                                </f:facet>
                                <h:outputText value="#{n.marca}" id="marca"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Modelo}"/>
                                </f:facet>
                                <h:outputText value="#{n.modelo}" id="modelo"/>
                            </p:column>

                            <p:column sortBy="#{n.fkGrupoFornecimento.nome}">
                                <f:facet name="header">
                                    <h:outputText value="Grupo de Fornecimento"/>
                                </f:facet>
                                <h:outputText value="#{n.fkGrupoFornecimento.nome}"/>
                            </p:column>

                        </p:dataTable>
                    </p:panel>

                    <br/>
                    <br/>
                    <p:commandButton value="Ir para projeto"
                                     action="#{infoCotacaoMB.returnInfoProjeto}"/>
                    <br/>
                    <br/>

                </p:panel>
            </h:form>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addPopupItem"
                      width="600"
                      modal="true"
                      header="#{(infoCotacaoMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addPanelItem">
                    <h:form>
                        <h:panelGrid columns="2">
                            <h:outputText value="Descrição do Produto:" />
                            <p:panel style="width:400px;">
                                <h:outputText value="#{infoCotacaoMB.produto.descricao}"/>
                            </p:panel>

                            <h:outputText value="Marca do Produto:" />
                            <p:inputText value="#{infoCotacaoMB.produto.marca}" disabled="true"/>

                            <h:outputText value="Modelo do Produto:" />
                            <p:inputText value="#{infoCotacaoMB.produto.modelo}" disabled="true"/>

                            <h:outputText value="Grupo de Fornecimento:" />
                            <p:inputText value="#{infoCotacaoMB.produto.fkGrupoFornecimento.nome}" disabled="true"/>
                        </h:panelGrid>

                        <h:panelGrid columns="3">
                            <h:outputText value="Observações:" />
                            <p:inputTextarea style="width:300px;" autoResize="true" effectDuration="5" maxHeight="40" id="titulo" value="#{infoCotacaoMB.item.observacao}" required="true" requiredMessage="#{label.general_Titulo_Required}"/>
                            <p:message for="titulo" display="icon"/>

                            <h:outputText value="Quantidade:" />
                            <p:inputText value="#{infoCotacaoMB.item.quantidade}" required="true" id="qtd"/>
                            <p:message for="qtd" display="icon"/>

                            <h:outputText value="Unidade:" />
                            <p:inputText value="#{infoCotacaoMB.item.unidade}" required="true" id="unid"/>
                            <p:message for="unid" display="icon"/>

                            <h:outputText value="Status:" />
                            <h:selectOneMenu value="#{infoCotacaoMB.item.status}"
                                             required="true" id="itemStatus" disabled="true">
                                <f:selectItems value="#{infoCotacaoMB.listaStatusItem}" var="f" itemLabel="#{f}" itemValue="#{f}"/>
                            </h:selectOneMenu>
                            <p:message for="itemStatus" display="icon"/>

                        </h:panelGrid>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{infoCotacaoMB.gravar}"
                                         update="form1:tabelaItem, addPanelItem"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addPopupItem').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addEditPopupItem"
                      width="600"
                      modal="true"
                      header="#{(infoCotacaoMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addEditPanelItem">
                    <h:form>
                        <h:panelGrid columns="2">
                            <h:outputText value="Descrição do Produto:" />
                            <p:panel style="width:400px;">
                                <h:outputText value="#{infoCotacaoMB.item.fkProduto.descricao}"/>
                            </p:panel>

                            <h:outputText value="Marca do Produto:" />
                            <p:inputText value="#{infoCotacaoMB.item.fkProduto.marca}" disabled="true"/>

                            <h:outputText value="Modelo do Produto:" />
                            <p:inputText value="#{infoCotacaoMB.item.fkProduto.modelo}" disabled="true"/>

                            <h:outputText value="Grupo de Fornecimento:" />
                            <p:inputText value="#{infoCotacaoMB.item.fkProduto.fkGrupoFornecimento.nome}" disabled="true"/>
                        </h:panelGrid>

                        <h:panelGrid columns="3">
                            <h:outputText value="Observações:" />
                            <p:inputTextarea style="width:300px;" autoResize="true" effectDuration="5" maxHeight="40" id="titulo" value="#{infoCotacaoMB.item.observacao}" required="true" requiredMessage="#{label.general_Titulo_Required}"/>
                            <p:message for="titulo" display="icon"/>

                            <h:outputText value="Quantidade:" />
                            <p:inputText value="#{infoCotacaoMB.item.quantidade}" required="true" id="qtd"/>
                            <p:message for="qtd" display="icon"/>

                            <h:outputText value="Unidade:" />
                            <p:inputText value="#{infoCotacaoMB.item.unidade}" required="true" id="unid"/>
                            <p:message for="unid" display="icon"/>

                            <h:outputText value="Status:" />
                            <h:selectOneMenu value="#{infoCotacaoMB.item.status}"
                                             required="true" id="itemStatus" disabled="true">
                                <f:selectItems value="#{infoCotacaoMB.listaStatusItem}" var="f" itemLabel="#{f}" itemValue="#{f}"/>
                            </h:selectOneMenu>
                            <p:message for="itemStatus" display="icon"/>

                        </h:panelGrid>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{infoCotacaoMB.gravar}"
                                         update="form1:tabelaItem, addEditPanelItem"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopupItem').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addEditPopupSolicitacao"
                      width="600"
                      modal="true"
                      header="Solicitar Orçamento"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addEditPanelSolicitacao">
                    <h:form>
                        <h:panelGrid columns="3">

                            <h:outputText value="Descrição do Produto:" />
                            <p:panel style="width:400px;">
                                <h:outputText value="#{infoCotacaoMB.item.fkProduto.descricao}" />
                            </p:panel>
                            <h:outputText value="" />

                            <h:outputText value="Data da solicitação: " />
                            <p:calendar pattern="dd/MM/yyyy" required="false" value="#{infoCotacaoMB.solicitacao.dataEnvio}" disabled="true" navigator="true" locale="pt_BR"/>
                            <h:outputText value="" />

                            <h:outputText value="Data Limite da Resposta: " />
                            <p:calendar id="dataResposta" pattern="dd/MM/yyyy" required="false" value="#{infoCotacaoMB.solicitacao.dataLimiteResposta}" navigator="true" locale="pt_BR"/>
                            <p:message for="dataResposta" display="icon"/>

                        </h:panelGrid>

                        <p:commandButton value="Solicitar Orçamento"
                                         actionListener="#{infoCotacaoMB.solicitarOrcamento}"
                                         update="form1:tabelaItem, addEditPanelSolicitacao"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopupSolicitacao').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addEditPopupCotacao"
                      width="600"
                      modal="true"
                      header="Aprovar Cotação"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addEditPanelCotacao">
                    <h:form>
                        <h:panelGrid columns="2">

                            <h:outputText value="Selecione o valor:"/>
                            <p:dataTable id="tabelaOrc" value="#{infoCotacaoMB.listaOrcamentos}"  var="orcamento" selection="#{infoCotacaoMB.orcamentoSelecionado}" rowKey="#{orcamento.id}">

                                <p:column selectionMode="single" />

                                <p:column sortBy="#{orcamento.fkFornecedor.nomeFantasia}" rendered="true">
                                    <f:facet name="header">
                                        <h:outputText value="Fornecedor" />
                                    </f:facet>
                                    <h:outputText value="#{orcamento.fkFornecedor.nomeFantasia}"/>
                                </p:column>

                                <p:column sortBy="#{orcamento.dataValidade}">
                                    <f:facet name="header">
                                        <h:outputText value="Validade" />
                                    </f:facet>
                                    <h:outputText value="#{orcamento.dataValidade}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column sortBy="#{orcamento.valor}">
                                    <f:facet name="header">
                                        <h:outputText value="Valor" />
                                    </f:facet>
                                    <h:outputText value="#{orcamento.valor}">
                                        <f:convertNumber pattern="###,###,##0.00"/>
                                    </h:outputText>
                                </p:column>

                                <p:column sortBy="#{orcamento.prazo}">
                                    <f:facet name="header">
                                        <h:outputText value="Prazo Entrega" />
                                    </f:facet>
                                    <h:outputText value="#{orcamento.prazo}"/>
                                </p:column>

                            </p:dataTable>                            

                            <h:outputText value="Fornecedor:" rendered="#{infoCotacaoMB.podeSolicitarCotacao}"/>
                            <h:inputText value="#{infoCotacaoMB.orcamento.fkFornecedor.nomeFantasia}" disabled="true" rendered="#{infoCotacaoMB.podeSolicitarCotacao}"/>
                            
                            <h:outputText value="Valor sugerido pelo sistema:"/>
                            <h:inputText value="#{infoCotacaoMB.orcamento.valor}" disabled="true">
                                <f:convertNumber pattern="###,###,##0.00"/>
                            </h:inputText>

                        </h:panelGrid>

                        <h:panelGrid columns="3">
                            <h:outputText value="Auxílio" />
                            <p:selectOneMenu id="comboAux" value="#{infoCotacaoMB.auxilio}" converter="auxilioConverter" >
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{infoCotacaoMB.cotacao.fkProjeto.auxilios}" var="f" itemLabel="#{f.nomeIdentificacao}" itemValue="#{f}"/>
                                <p:ajax event="valueChange" update="comboAlinea" listener="#{infoCotacaoMB.pesquisarAlineas}"/>
                            </p:selectOneMenu>
                            <p:message for="comboAux" display="icon"/>


                            <h:outputText value="Alínea" />
                            <h:selectOneMenu id="comboAlinea" value="#{infoCotacaoMB.alinea}" converter="alineaConverter" required="true">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{infoCotacaoMB.listaAlineas}" var="f" itemLabel="#{f.fkCategoriaAlinea.nome}" itemValue="#{f}"/>
                            </h:selectOneMenu>
                            <p:message for="comboAlinea" display="icon"/>

                        </h:panelGrid>

                        <p:commandButton value="Aprovar e Comprar"
                                         actionListener="#{infoCotacaoMB.aprovarCotacao}"
                                         update="form1:tabelaItem, addEditPanelCotacao"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopupCotacao').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopupItem" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoCotacaoMB.excluir}"
                                         update="form1:tabelaItem"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopupItem').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>
</html>