<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">
            <h:form id="form1">
                <p:panel header="Informações da Despesa">

                    <p:panel>
                        <h:panelGrid columns="1">
                            <h:panelGrid columns="5">

                                <h:outputText value="Responsável:" />
                                <h:outputText value="#{infoDespesaMB.despesa.fkAlinea.fkAuxilio.fkProjeto.fkResponsavel}"/>                                
                                <p:separator/>
                                <h:outputText value="Financiador:" />
                                <h:outputText value="#{infoDespesaMB.despesa.fkAlinea.fkAuxilio.fkModalidade.fkTipoAuxilio.fkFinanciador.nome}"/>                                

                                <h:outputText value="Centro de Despesa:" />
                                <h:outputText value="#{infoDespesaMB.despesa.fkSubcentro.fkCentroDespesa.nome}"/>
                                <p:separator/>
                                <h:outputText value="Tipo da Despesa:" />
                                <h:outputText value="#{infoDespesaMB.despesa.tipoDespesa}"/>

                                <h:outputText value="Alínea:" />
                                <h:outputText value="#{infoDespesaMB.despesa.fkAlinea.fkCategoriaAlinea.nome}"/>
                                <p:separator/>
                                <h:outputText value="Status:" />
                                <h:outputText value="#{infoDespesaMB.despesa.status}"/>

                                <h:outputText value="Valor:" />
                                <h:outputText value="#{infoDespesaMB.despesa.valor}">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                                <p:separator/>
                                <h:outputText value="" />
                                <h:outputText value="" />

                                <h:outputText value="Data Prevista:" />
                                <h:outputText value="#{infoDespesaMB.despesa.dataPrevista}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                                <p:separator/>
                                <h:outputText value="Data Realizada:" />
                                <h:outputText value="#{infoDespesaMB.despesa.dataRealizada}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>

                                <h:outputText value="Observação:" />
                                <h:outputText value="#{infoDespesaMB.despesa.observacao}"/>

                            </h:panelGrid>
                        </h:panelGrid>
                    </p:panel>


                    <!--Painel de Alineas-->
                    <p:panel header="Documentos de Comprovação da Despesa" toggleable="true">
                        <p:dataTable id="tabelaComprovacaoDespesa" value="#{infoDespesaMB.despesa.documentosComprovacaoDespesas}"  var="compDespesa">

                            <p:column  style="width:20px">
                                <p:rowToggler/>
                            </p:column>

                            <p:column style="width: 100px" sortBy="#{compDespesa.dataEmissao}" styleClass="colunaMostrarData">
                                <f:facet name="header">
                                    <h:outputText value="Data Emissão" />
                                </f:facet>
                                <h:outputText value="#{compDespesa.dataEmissao}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column style="width: 100px" sortBy="#{compDespesa.dataEmissao}" styleClass="colunaMostrarData">
                                <f:facet name="header">
                                    <h:outputText value="Data Entrega" />
                                </f:facet>
                                <h:outputText value="#{compDespesa.dataEntrega}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column styleClass="colunaMostrarValorFinanceiro">
                                <f:facet name="header">
                                    <h:outputText value="Valor" />
                                </f:facet>
                                <h:outputText value="#{compDespesa.valor}">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Número:" />
                                </f:facet>
                                <h:outputText value="#{compDespesa.numero}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Observação:" />
                                </f:facet>
                                <h:outputText value="#{compDespesa.observacao}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tipo:" />
                                </f:facet>
                                <h:outputText value="#{(compDespesa.tipoDocumento==0) ? (label.general_Notafiscal) : (label.general_Recibo)}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>

                                <p:commandLink id="editDoc" oncomplete="PF('editDocDespesas').show();" update="editDocDespesaGrid" action="#{infoDespesaMB.prepareEditarDocDespesa}">
                                    <h:graphicImage value="#{infoDespesaMB.imagemEditarRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{compDespesa}" target="#{infoDespesaMB.documentoDespesa}" />
                                </p:commandLink>

                            </p:column>

                            <!--*************************************-->
                            <!--Inicio da Expansão-->
                            <!--*************************************-->
                            <p:rowExpansion>
                                <p:dataTable id="subTabela" value="#{compDespesa.arquivosDespesa}"  var="m">
                                    <f:facet name="header">
                                        <h:outputText value="Documentos" />
                                    </f:facet>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Nome:" />
                                        </f:facet>
                                        <h:outputText value="#{m.nome}" id="nomeD" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{label.general_Action}" />
                                        </f:facet>
                                        <h:commandLink id="downloadlink" title="Download" rendered="#{infoDespesaMB.podeFazerDownloadDesp(compDespesa)}">
                                            <p:graphicImage value="/images/icons/down.png" style="border:0"/>
                                            <p:fileDownload value="#{infoDespesaMB.downloadArquivoDespesa(m)}" />
                                        </h:commandLink>

                                        <p:commandLink oncomplete="PF('deletePopupDocDespesa').show();" disabled="false">
                                            <h:graphicImage value="#{infoDespesaMB.imagemExcluirArquivo}" style="border:0" />
                                            <f:setPropertyActionListener value="#{compDespesa}" target="#{infoDespesaMB.documentoDespesa}" />
                                            <f:setPropertyActionListener value="#{m}" target="#{infoDespesaMB.arquivoDespesa}" />
                                        </p:commandLink>
                                    </p:column>

                                </p:dataTable>

                            </p:rowExpansion>
                            <!--*************************************-->
                            <!--Fim da Expansão-->
                            <!--*************************************-->


                            <f:facet name="footer">
                                <p:column>
                                    <p:commandLink id="cadDocDesp" oncomplete="PF('selectTipoDocDespesa').show();" update="selectTipoDocDesp">
                                        <h:graphicImage value="#{infoDespesaMB.imagemDocumentoDespesa}" style="border:0" />                                        
                                    </p:commandLink>
                                    <p:tooltip for="cadDocDesp" value="Cadastrar Documento Despesa" />

                                </p:column>
                            </f:facet>

                        </p:dataTable>
                    </p:panel>

                    <p:panel header="Documentos de Comprovação do Pagamento" toggleable="true" style="">

                        <p:dataTable id="tabelaComprovacaoPagamento" value="#{infoDespesaMB.despesa.documentosComprovacaoPagamentos}"  var="compPagamento">

                            <p:column  style="width:20px">
                                <p:rowToggler/>
                            </p:column>

                            <p:column style="width: 100px" sortBy="#{compPagamento.dataEmissao}" styleClass="colunaMostrarData">
                                <f:facet name="header">
                                    <h:outputText value="Data Emissão" />
                                </f:facet>
                                <h:outputText value="#{compPagamento.dataEmissao}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column style="width: 100px" sortBy="#{compPagamento.dataEmissao}" styleClass="colunaMostrarData">
                                <f:facet name="header">
                                    <h:outputText value="Data Entrega" />
                                </f:facet>
                                <h:outputText value="#{compPagamento.dataEntrega}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column styleClass="colunaMostrarValorFinanceiro">
                                <f:facet name="header">
                                    <h:outputText value="Valor" />
                                </f:facet>
                                <h:outputText value="#{compPagamento.valor}">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Número:" />
                                </f:facet>
                                <h:outputText value="#{compPagamento.numero}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Observação:" />
                                </f:facet>
                                <h:outputText value="#{compPagamento.observacao}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>

                                <p:commandLink id="editDoc3" oncomplete="PF('editDocPagamentos').show();" update="editDocPagamentoGrid" action="#{infoDespesaMB.prepareEditarDocPagamento}">
                                    <h:graphicImage value="#{infoDespesaMB.imagemEditarRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{compPagamento}" target="#{infoDespesaMB.documentoPagamento}" />
                                </p:commandLink>
                            </p:column>

                            <!--*************************************-->
                            <!--Inicio da Expansão-->
                            <!--*************************************-->
                            <p:rowExpansion>
                                <p:dataTable id="subTabela" value="#{compPagamento.arquivosPagamento}"  var="m">
                                    <f:facet name="header">
                                        <h:outputText value="Documentos" />
                                    </f:facet>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Nome:" />
                                        </f:facet>
                                        <h:outputText value="#{m.nome}" id="nomeP" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{label.general_Action}" />
                                        </f:facet>
                                        <h:commandLink id="downloadlink" title="Download" rendered="#{infoDespesaMB.podeFazerDownloadPag(compPagamento)}">
                                            <p:graphicImage value="/images/icons/down.png" style="border:0"/>
                                            <p:fileDownload value="#{infoDespesaMB.downloadArquivoPagamento(m)}" />
                                        </h:commandLink>
                                        <p:commandLink oncomplete="PF('deletePopupDocPagamento').show();" disabled="false">
                                            <h:graphicImage value="#{infoDespesaMB.imagemExcluirArquivo}" style="border:0" />
                                            <f:setPropertyActionListener value="#{compPagamento}" target="#{infoDespesaMB.documentoPagamento}" />
                                            <f:setPropertyActionListener value="#{m}" target="#{infoDespesaMB.arquivoPagamento}" />
                                        </p:commandLink>
                                    </p:column>

                                </p:dataTable>

                            </p:rowExpansion>
                            <!--*************************************-->
                            <!--Fim da Expansão-->
                            <!--*************************************-->

                            <f:facet name="footer">
                                <p:column>
                                    <p:commandLink id="cadDocPag" oncomplete="PF('editDocPagamentos').show();" update="editDocPagamentoGrid" action="#{infoDespesaMB.prepareCadastrarDocPagamento}" rendered="#{infoDespesaMB.podeCadastrarPagamento}">
                                        <h:graphicImage value="#{infoDespesaMB.imagemDocumentoPagamento}" style="border:0" />
                                    </p:commandLink>
                                    <p:tooltip for="cadDocPag" value="Cadastrar Documento Pagamento" />
                                </p:column>
                            </f:facet>

                        </p:dataTable>
                    </p:panel>

                    <p:panel header="Bem Patrimoniado" toggleable="true" rendered="#{infoDespesaMB.exibeBemPatrimoniado}">
                        <p:dataTable id="tabelBemPatrimoniado" value="#{infoDespesaMB.despesa.bensPatrimoniados}" var="bP">

                            <p:column sortBy="#{bP.numero}">
                                <f:facet name="header">
                                    <h:outputText value="Número" />
                                </f:facet>
                                <h:outputText value="#{bP.numero}" />
                            </p:column>

                            <p:column sortBy="#{bP.descricao}">
                                <f:facet name="header">
                                    <h:outputText value="Descrição" />
                                </f:facet>
                                <h:outputText value="#{bP.descricao}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Data de Registro" />
                                </f:facet>
                                <h:outputText value="#{bP.dataRegistro}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>

                                <p:commandLink id="editlink" oncomplete="PF('addBemPatrimoniado').show();" update="addBemPatrimoniadoGrid" action="#{infoDespesaMB.prepareEditarBemPatrimoniado}" immediate="true">
                                    <h:graphicImage value="/images/icons/editar.png" style="border:0" />
                                    <f:setPropertyActionListener value="#{bP}" target="#{infoDespesaMB.bemPatrimoniado}" />
                                </p:commandLink>
                                <p:tooltip for="editlink" value="#{label.general_Edit_Tip}" />

                                <p:commandLink id="deletelink" oncomplete="PF('deletePopup').show();">
                                    <h:graphicImage value="/images/icons/del.png" style="border:0" />
                                    <f:setPropertyActionListener value="#{bP}" target="#{infoDespesaMB.bemPatrimoniado}" />
                                </p:commandLink>
                                <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />

                            </p:column>
                            <f:facet name="footer">
                                <p:columnGroup>
                                    <p:column colspan="1"/>
                                    <p:column>
                                        <p:commandLink id="cadBemPatr" oncomplete="PF('addBemPatrimoniado').show();" update="addBemPatrimoniadoGrid" action="#{infoDespesaMB.prepareCadastrarBemPatrimoniado}">
                                            <h:graphicImage value="/images/icons/add1.png" style="border:0"/>
                                        </p:commandLink>
                                        <p:tooltip for="cadBemPatr" value="#{label.general_Add_Tip}" />
                                    </p:column>
                                </p:columnGroup>
                            </f:facet>

                        </p:dataTable>
                    </p:panel>

                    <br/>
                    <br/>
                    <p:commandButton value="Ir para auxílio"
                                     action="#{infoDespesaMB.returnInfoAuxilio}"/>
                    <br/>
                    <br/>

                </p:panel>
            </h:form>

            <!-- ################################### -->
            <!-- bloco de seleção -->
            <p:dialog widgetVar="selectTipoDocDespesa" width="250" modal="true" header="Tipo de Documento de Despesa" resizable="false">
                <h:panelGrid columns="1" id="selectTipoDocDesp">
                    <h:form>
                        <h:outputText value="Qual Documento deseja Cadastrar?"/>
                        <h:panelGrid  columns="2">

                            <p:selectOneMenu value="#{infoDespesaMB.tipoDocDespesa}">
                                <f:selectItems value="#{infoDespesaMB.listaTiposDocDespesa}" var="tipo" itemLabel="#{tipo}" itemValue="#{tipo}"/>
                            </p:selectOneMenu>

                            <p:commandButton value="Avançar" update="editDocDespesaGrid"
                                             action="#{infoDespesaMB.prepareCadastrarDocDespesa}"/>
                        </h:panelGrid>
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de despesas -->
            <p:dialog widgetVar="editDocDespesas"
                      width="450"
                      modal="true"
                      header="#{(infoDespesaMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)} - Documento Despesa"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="editDocDespesaGrid">
                    <h:form>
                        <h:panelGrid columns="3">

                            <h:outputText value="Número do Documento:"/>
                            <p:inputText id="docNum" value="#{infoDespesaMB.documentoDespesa.numero}" disabled="false" required="true"/>
                            <p:message for="docNum" display="icon"/>

                            <h:outputText value="Data Emissão:" />
                            <p:calendar id="dataEmissao" pattern="dd/MM/yyyy" required="true" value="#{infoDespesaMB.documentoDespesa.dataEmissao}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}."/>
                            <p:message for="dataEmissao" display="icon"/>

                            <h:outputText value="Data Entrega:" />
                            <p:calendar id="dataEntrega" pattern="dd/MM/yyyy" required="true" value="#{infoDespesaMB.documentoDespesa.dataEntrega}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}."/>
                            <p:message for="dataEntrega" display="icon"/>

                            <h:outputText value="Valor da Despesa:"/>
                            <p:inputText value="#{infoDespesaMB.despesa.valor}" disabled="true"/>
                            <h:outputText value="" />

                            <h:outputText value="Valor do Documento:" />
                            <p:inputText id="slider3" value="#{infoDespesaMB.documentoDespesa.valor}" validator="#{infoDespesaMB.validateValor}"/>
                            <p:message for="slider3" display="icon"/>

                            <h:outputText value="Observações:" />
                            <p:inputTextarea style="width:280px;" id="observacaoDesp" value="#{infoDespesaMB.documentoDespesa.observacao}" required="false" requiredMessage="#{label.general_Observation_Required}" effectDuration="200" autoResize="false" maxHeight="450"/>
                            <p:message for="observacaoDesp" display="icon"/>

                            <h:outputText value="" />
                            <p:fileUpload id="uploadDeArquivo" auto="true" fileUploadListener="#{infoDespesaMB.handleFileUploadDocDespesa}" multiple="true" label="Anexar Arquivo"  allowTypes="/(\.|\/)(jpe?g)$/" mode="advanced" description="Anexos" update="upload"/>
                            <p:message for="uploadDeArquivo" display="icon"/>


                        </h:panelGrid>
                        <h:panelGrid columns="3" rendered="#{infoDespesaMB.exibeCamposNF}">

                            <h:outputText value="Chave numérica: "/>
                            <p:inputText id="danfe" maxlength="43" value="#{infoDespesaMB.danfe}" disabled="false" required="false"/>
                            <p:message for="danfe" display="icon"/>

                            <h:outputText value="Tipo: "/>
                            <p:inputText id="docNFtipo" value="#{infoDespesaMB.tipoNF}" disabled="false" required="false"/>
                            <p:message for="docNFtipo" display="icon"/>

                        </h:panelGrid>
                        <p:commandButton value="#{label.general_Save}"
                                         action="#{infoDespesaMB.adicionarDocDespesa}"
                                         update="form1:tabelaComprovacaoDespesa, form1:tabelaComprovacaoPagamento, editDocDespesaGrid"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('editDocDespesas').hide();return false;" />

                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de despesas -->
            <p:dialog widgetVar="editDocPagamentos"
                      width="450"
                      modal="true"
                      header="#{(infoDespesaMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)} - Documento Pagamento"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="editDocPagamentoGrid">
                    <h:form>
                        <h:panelGrid columns="3">
                            <h:outputText value="Número do Documento:"/>
                            <p:inputText id="docNum" value="#{infoDespesaMB.documentoPagamento.numero}" disabled="false" required="true"/>
                            <p:message for="docNum" display="icon"/>

                            <h:outputText value="Data Emissão:" />
                            <p:calendar id="dataEmissao" pattern="dd/MM/yyyy" required="true" value="#{infoDespesaMB.documentoPagamento.dataEmissao}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}."/>
                            <p:message for="dataEmissao" display="icon"/>

                            <h:outputText value="Data Entrega:" />
                            <p:calendar id="dataEntrega" pattern="dd/MM/yyyy" required="true" value="#{infoDespesaMB.documentoPagamento.dataEntrega}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}."/>
                            <p:message for="dataEntrega" display="icon"/>

                            <h:outputText value="Valor da Despesa:"/>
                            <p:inputText value="#{infoDespesaMB.despesa.valor}" disabled="true"/>
                            <h:outputText value="" />

                            <h:outputText value="Valor do Documento:" />
                            <p:inputText id="slider3" value="#{infoDespesaMB.documentoPagamento.valor}" validator="#{infoDespesaMB.validateValor}"/>
                            <p:message for="slider3" display="icon"/>

                            <h:outputText value="Observações:" />
                            <p:inputTextarea style="width:280px;" id="observacaoPag" value="#{infoDespesaMB.documentoPagamento.observacao}" required="false" requiredMessage="#{label.general_Observation_Required}" effectDuration="200" autoResize="false" maxHeight="450"/>
                            <p:message for="observacaoPag" display="icon"/>

                            <h:outputText value="" />
                            <p:fileUpload id="uploadDeArquivo" auto="true" fileUploadListener="#{infoDespesaMB.handleFileUploadDocPagamento}" multiple="true" label="Anexar Arquivo"  allowTypes="/(\.|\/)(jpe?g)$/" mode="advanced" description="Anexos" update="upload"/>
                            <p:message for="uploadDeArquivo" display="icon"/>


                        </h:panelGrid>

                        <p:commandButton value="#{label.general_Save}"
                                         action="#{infoDespesaMB.adicionarDocPagamento}"
                                         update="form1:tabelaComprovacaoPagamento, editDocPagamentoGrid"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         update="form1:tabelaComprovacaoPagamento, editDocPagamentoGrid"
                                         onclick="PF('editDocPagamentos').hide();return false;" />

                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addBemPatrimoniado"
                      width="350"
                      header="#{(infoDespesaMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      modal="true"
                      resizable="false"
                      draggable="true">
                <h:panelGrid columns="1" id="addBemPatrimoniadoGrid">
                    <h:form>
                        <h:panelGrid columns="3">
                            <h:outputText value="#{label.general_Number}:" />
                            <p:inputText value="#{infoDespesaMB.bemPatrimoniado.numero}" id="numero" required="true" requiredMessage="#{label.general_Number_Required}."/>
                            <p:message for="numero" display="icon"/>

                            <h:outputText value="#{label.general_Description}:" />
                            <p:inputText value="#{infoDespesaMB.bemPatrimoniado.descricao}" id="descricao" required="true" requiredMessage="#{label.general_Description_Required}."/>
                            <p:message for="descricao" display="icon"/>

                            <h:outputText value="#{label.general_DateRegister}:" />
                            <p:calendar pattern="dd/MM/yyyy" id="dataRegistro" required="true" value="#{infoDespesaMB.bemPatrimoniado.dataRegistro}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_DateRegister_Required}."/>
                            <p:message for="dataRegistro" display="icon"/>
                        </h:panelGrid>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{infoDespesaMB.adicionarBemPatrimoniado}"
                                         update="form1:tabelBemPatrimoniado, addBemPatrimoniadoGrid"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addBemPatrimoniado').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <p:dialog widgetVar="deletePopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoDespesaMB.excluirBemPatrimoniado}"
                                         update="form1:tabelBemPatrimoniado"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopupDocDespesa" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoDespesaMB.excluirArquivoDespesa}"
                                         update="form1:tabelaComprovacaoDespesa, form1:tabelaComprovacaoPagamento, editDocDespesaGrid"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopupDocDespesa').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopupDocPagamento" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoDespesaMB.excluirArquivoPagamento}"
                                         update="form1:tabelaComprovacaoDespesa, form1:tabelaComprovacaoPagamento, editDocDespesaGrid"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopupDocPagamento').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>
</html>