<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/sgpc.css"/>
    </h:head>
    <h:body>
        <f:view contentType="text/html">
            <p:panel>
                <h:form id="form1">
                    <!-- TAB 1 ###################################-->
                    <p:panel header="Dados da Licitação">
                        <h:panelGrid columns="1">
                            <h:panelGrid columns="2">

                                <h:outputText value="Fornecedor:" />
                                <h:outputText value="#{orcamentoMB.solicitaOrcamento.fkFornecedor.razaoSocial}" id="fornecedor"/>

                                <h:outputText value="Chave de Acesso:" />
                                <h:outputText value="#{orcamentoMB.solicitaOrcamento.chaveAcesso}" id="chave"/>

                                <h:outputText value="Descrição do Produto:" />
                                <p:panel style="width:400px;">
                                    <h:outputText value="#{orcamentoMB.solicitaOrcamento.fkSolicitacaoCotacao.fkItem.fkProduto.descricao}" id="descricao"/>
                                </p:panel>

                                <h:outputText value="Observações:" />
                                <p:panel style="width:400px;">
                                    <h:outputText value="#{orcamentoMB.solicitaOrcamento.fkSolicitacaoCotacao.fkItem.observacao}" id="obs"/>
                                </p:panel>

                                <h:outputText value="Unidade:" />
                                <h:outputText value="#{orcamentoMB.solicitaOrcamento.fkSolicitacaoCotacao.fkItem.unidade}" id="unidade"/>

                                <h:outputText value="Quantidade:" />
                                <h:outputText value="#{orcamentoMB.solicitaOrcamento.fkSolicitacaoCotacao.fkItem.quantidade}" id="qtd"/>

                                <h:outputText value="Data Limite:" />
                                <h:outputText value="#{orcamentoMB.solicitaOrcamento.fkSolicitacaoCotacao.dataLimiteResposta}" id="data">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>

                            </h:panelGrid>
                        </h:panelGrid>

                        <f:facet name="footer">
                            <p:columnGroup>
                                <p:column colspan="3"/>
                                <p:column>
                                    <p:commandLink id="addlink" action="#{orcamentoMB.prepareAdicionar}" update="panelEntrada" disabled="#{orcamentoMB.exibePanel}">
                                        <h:graphicImage value="#{orcamentoMB.imagemCriarRegistro}" style="border:0"/>
                                    </p:commandLink>
                                    <p:tooltip for="addlink" value="Adicionar Orçamento" />
                                </p:column>
                            </p:columnGroup>
                        </f:facet>

                    </p:panel>

                </h:form>
            </p:panel>

            <p:outputPanel id="panelSaida">
                <h:form id="form2">
                    <p:panel header="Orçamento" rendered="#{orcamentoMB.exibePanel}">
                        <h:panelGrid columns="2">

                            <h:outputText value="Valor:" />
                            <h:outputText value="#{orcamentoMB.orcamento.valor}"/>

                            <h:outputText value="Data Limite:" />
                            <h:outputText value="#{orcamentoMB.orcamento.dataValidade}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>

                            <h:outputText value="Prazo Entrega (Dias):" />
                            <h:outputText value="#{orcamentoMB.orcamento.prazo}"/>

                        </h:panelGrid>

                        <f:facet name="footer">
                            <p:columnGroup>
                                <p:column colspan="3"/>
                                <p:column>
                                    <p:commandLink id="editlink" action="#{orcamentoMB.prepareEditar}" update="panelSaida, panelEntrada">
                                        <h:graphicImage value="#{orcamentoMB.imagemEditarRegistro}" style="border:0"/>
                                        <f:setPropertyActionListener value="#{orcamentoMB.solicitaOrcamento.fkOrcamento}" target="#{orcamentoMB.orcamento}" />
                                    </p:commandLink>
                                    <p:tooltip for="editlink" value="Editar Orçamento" />
                                </p:column>

                                <p:column>
                                    <p:commandLink id="deletelink" action="#{orcamentoMB.excluir}" update="panelSaida, form1:addlink" disabled="true">
                                        <h:graphicImage value="#{orcamentoMB.imagemExcluirRegistro}" style="border:0"/>
                                        <f:setPropertyActionListener value="#{orcamentoMB.solicitaOrcamento.fkOrcamento}" target="#{orcamentoMB.orcamento}" />
                                    </p:commandLink>
                                    <p:tooltip for="deletelink" value="Excluir Orçamento" />
                                </p:column>

                            </p:columnGroup>
                        </f:facet>
                    </p:panel>
                </h:form>
            </p:outputPanel>

            <p:outputPanel id="panelEntrada">
                <h:form id="form3">
                    <p:panel
                        header="#{(orcamentoMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                        rendered="#{orcamentoMB.exibePanelEntrada}">
                        <h:panelGrid columns="3">

                            <h:outputText value="Valor:" />
                            <h:inputText id="val" value="#{orcamentoMB.orcamento.valor}" required="true"/>
                            <p:message for="val" display="icon"/>

                            <h:outputText value="Data validade:" />
                            <p:calendar id="data" pattern="dd/MM/yyyy" required="true" value="#{orcamentoMB.orcamento.dataValidade}" navigator="true" locale="pt_BR"/>
                            <p:message for="data" display="icon"/>

                            <h:outputText value="Prazo Entrega (Dias):" />
                            <h:inputText id="prazo" value="#{orcamentoMB.orcamento.prazo}" required="true"/>
                            <p:message for="prazo" display="icon"/>

                        </h:panelGrid>

                        <f:facet name="footer">
                            <p:columnGroup>
                                <p:column colspan="3"/>
                                <p:column>
                                    <p:commandLink id="gravar" action="#{orcamentoMB.gravar}" update="panelSaida, panelEntrada, form1:addlink">
                                        <h:graphicImage value="#{orcamentoMB.imagemSalvarRegistro}" style="border:0"/>
                                    </p:commandLink>
                                    <p:tooltip for="gravar" value="Salvar" />
                                </p:column>

                                <p:column>
                                    <p:commandLink id="cancelar" action="#{orcamentoMB.cancelar}" update="panelEntrada, panelSaida">
                                        <h:graphicImage value="#{orcamentoMB.imagemCancelarRegistro}" style="border:0"/>
                                    </p:commandLink>
                                    <p:tooltip for="cancelar" value="Cancelar" />
                                </p:column>

                            </p:columnGroup>
                        </f:facet>
                    </p:panel>
                </h:form>
            </p:outputPanel>

        </f:view>
    </h:body>
</html>