<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="conteudo">
            <h:form id="form1">

                <p:panel header="#{label.general_Find}" id="pesquisa">
                    <h:panelGrid columns="2">
                        <h:panelGrid columns="6">
                            <h:outputText value="#{label.general_Keyword}" />
                            <h:outputText value="Data Inicial" />
                            <h:outputText value="Data Final" />
                            <h:outputText value="Departamento" />
                            <h:outputText value="Status" />
                            <h:outputText value="Responsável" />

                            <p:inputText value="#{projetoMB.pesquisa}">
                                <p:ajax event="keyup" update="tabela" listener="#{projetoMB.pesquisarProjetos(false)}"/>
                            </p:inputText>

                            <p:calendar pattern="dd/MM/yyyy"
                                        value="#{projetoMB.dataInicial}"
                                        navigator="true" locale="pt_BR"
                                        onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"
                                        immediate="true"
                                        styleClass="inputCalendario">
                                <p:ajax event="dateSelect" listener="#{projetoMB.bindDataInicial}" update="tabela" />
                                <p:ajax event="blur" listener="#{projetoMB.pesquisarProjetos(false)}" update="tabela"/>
                            </p:calendar>

                            <p:calendar pattern="dd/MM/yyyy"
                                        value="#{projetoMB.dataFinal}"
                                        navigator="true" locale="pt_BR"
                                        onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"
                                        immediate="true"
                                        styleClass="inputCalendario">
                                <p:ajax event="dateSelect" listener="#{projetoMB.bindDataFinal}" update="tabela" />
                                <p:ajax event="blur" listener="#{projetoMB.pesquisarProjetos(false)}" update="tabela"/>
                            </p:calendar>

                            <p:selectOneMenu value="#{projetoMB.departamentoPesquisa}" converter="departamentoConverter">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{projetoMB.listaDepartamentos}" var="f" itemLabel="#{f.sigla}" itemValue="#{f}"/>
                                <p:ajax event="valueChange" update="tabela" listener="#{projetoMB.pesquisarProjetos(false)}"/>
                            </p:selectOneMenu>

                            <p:selectOneMenu value="#{projetoMB.status}">
                                <f:selectItem itemLabel="Selecione" itemValue=""/>
                                <f:selectItems value="#{projetoMB.listaStatusPesquisa}" var="f" itemLabel="#{f}" itemValue="#{f}"/>
                                <p:ajax event="valueChange" update="tabela" listener="#{projetoMB.pesquisarProjetos(false)}"/>
                            </p:selectOneMenu>
                            
                            <p:selectOneMenu value="#{projetoMB.responsavelPesquisa}" converter="pessoaConverter">
                                <f:selectItem itemLabel="Selecione" itemValue=""/>
                                <f:selectItems value="#{projetoMB.listaResponsaveis}" var="r" itemLabel="#{r.nome}" itemValue="#{r}"/>
                                <p:ajax event="valueChange" update="tabela" listener="#{projetoMB.pesquisarProjetos(false)}"/>
                            </p:selectOneMenu>

                        </h:panelGrid>
                        <h:panelGrid columns="2">
                            <h:commandLink id="downloadlinkPdf" title="Download PDF">
                                <p:graphicImage value="/images/icons/application_pdf.png" style="border:0"/>
                                <p:fileDownload value="#{projetoMB.downloadReportPdf()}" />
                            </h:commandLink>
                            <h:commandLink id="downloadlinkXls" title="Download XLS">
                                <p:graphicImage value="/images/icons/application_vnd.ms_excel.png" style="border:0"/>
                                <p:fileDownload value="#{projetoMB.downloadReportXls()}" />
                            </h:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="tabela"
                             value="#{projetoMB.listaProjetoBean}"
                             var="n"
                             rows="10"
                             paginatorPosition="bottom"
                             paginator="true"
                             rendered="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}  Total de #{projetoMB.listaProjetoBean.size()} registros encontrados"
                             rowsPerPageTemplate="5,10,15"
                             emptyMessage="#{label.general_NoResults}">
                    <f:facet name="header">
                        <h:outputText value="Projetos" />
                    </f:facet>

                    <p:column  style="width:20px">
                        <p:rowToggler/>
                    </p:column>

                    <p:column rendered="#{projetoMB.exibirColunaOwner}" sortBy="#{n.fkResponsavel.nome}">
                        <f:facet name="header">
                            <h:outputText value="Responsável" />
                        </f:facet>
                        <h:outputText value="#{n.fkResponsavel.nome}" id="pessoa" />
                    </p:column>

                    <p:column sortBy="#{n.titulo}">
                        <f:facet name="header">
                            <h:outputText value="Título" />
                        </f:facet>
                        <h:outputText value="#{n.titulo}" id="titulo" />
                    </p:column>

                    <p:column sortBy="#{n.descricao}">
                        <f:facet name="header">
                            <h:outputText value="Descrição" />
                        </f:facet>
                        <h:outputText value="#{n.descricao}" id="descricao" />
                    </p:column>

                    <p:column sortBy="#{n.dataInicial}" styleClass="colunaMostrarData">
                        <f:facet name="header">
                            <h:outputText value="Data Inicial" />
                        </f:facet>
                        <h:outputText value="#{n.dataInicial}" id="dataInicial">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{n.dataFinal}" styleClass="colunaMostrarData">
                        <f:facet name="header">
                            <h:outputText value="Data Final" />
                        </f:facet>
                        <h:outputText value="#{n.dataFinal}" id="dataFinal">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{n.status}">
                        <f:facet name="header">
                            <h:outputText value="Status" />
                        </f:facet>
                        <h:outputText value="#{n.status}" id="status" />
                    </p:column>

                    <p:column sortBy="#{n.fkDepartamento.sigla}">
                        <f:facet name="header">
                            <h:outputText value="Departamento" />
                        </f:facet>
                        <h:outputText value="#{n.fkDepartamento.sigla}" id="departamento" />
                    </p:column>

                    <p:column style="width: 60px">
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Action}" />
                        </f:facet>
                        <h:commandLink  id="ativalink" action="#{projetoMB.ativar}" >
                            <h:graphicImage value="/images/icons/ativar.png" style="border:0" />
                            <f:setPropertyActionListener value="#{n}" target="#{projetoMB.projeto}" />
                        </h:commandLink>
                        <p:tooltip for="ativalink" value="Ativar" />

                        <p:commandLink id="editlink" update=":addEditPanel" action="#{projetoMB.prepareEditar(n)}" immediate="true" disabled="#{projetoMB.podeEditarRegistro(n)}">
                            <h:graphicImage value="#{projetoMB.imagemEditarRegistro}" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="editlink" value="#{label.general_Edit_Tip}" />

                        <p:commandLink id="deletelink" oncomplete="PF('deletePopup').show();" disabled="#{projetoMB.podeExcluirRegistro(n)}"> <!-- Já possui regra de segurança para verificar exclusão, porém, está desabilitada: disabled="{projetoMB.podeExcluirRegistro(n)}"-->
                            <h:graphicImage value="#{projetoMB.imagemExcluirRegistro}" style="border:0" />
                            <f:setPropertyActionListener value="#{n}" target="#{projetoMB.projeto}" />
                        </p:commandLink>
                        <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                    </p:column>

                    <!--*************************************-->
                    <!--Inicio da Expansão-->
                    <!--*************************************-->
                    <p:rowExpansion>
                        <p:dataTable id="subTabela" value="#{n.auxilios}"  var="m"
                             emptyMessage="#{label.general_NoResults}">
                            <p:column sortBy="#{m.nomeIdentificacao}">
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Titulo}" />
                                </f:facet>
                                <h:outputText value="#{m.nomeIdentificacao}"/>
                            </p:column>

                            <p:column sortBy="#{m.protocolo}">
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Num_USP}" />
                                </f:facet>
                                <h:outputText value="#{m.protocolo}"/>
                            </p:column>

                            <p:column sortBy="#{m.numeroMercurio}">
                                <f:facet name="header">
                                    <h:outputText value="Nº Mercúrio" />
                                </f:facet>
                                <h:outputText value="#{m.numeroMercurio}"/>
                            </p:column>

                            <p:column sortBy="#{m.protocoloFinanciador}">
                                <f:facet name="header">
                                    <h:outputText value="Proc. Entidade Financiadora" />
                                </f:facet>
                                <h:outputText value="#{m.protocoloFinanciador}"/>
                            </p:column>

                            <p:column sortBy="#{m.dataInicial}">
                                <f:facet name="header">
                                    <h:outputText value="Data Início" />
                                </f:facet>
                                <h:outputText value="#{m.dataInicial}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column sortBy="#{m.dataFinal}">
                                <f:facet name="header">
                                    <h:outputText value="Data Fim" />
                                </f:facet>
                                <h:outputText value="#{m.dataFinal}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column sortBy="#{m.status}">
                                <f:facet name="header">
                                    <h:outputText value="Status" />
                                </f:facet>
                                <h:outputText value="#{m.status}"/>
                            </p:column>

                        </p:dataTable>
                    </p:rowExpansion>
                    <!--*************************************-->
                    <!--Fim da Expansão-->
                    <!--*************************************-->

                    <f:facet name="footer">
                        <p:columnGroup>
                            <p:column colspan="3"/>
                            <p:column>
                                <p:commandLink id="addlink" oncomplete="PF('selectTipoProjeto').show();" update=":selectTipoProjetoGrid" immediate="true" disabled="#{projetoMB.podeCriarRegistro()}">
                                    <h:graphicImage value="#{projetoMB.imagemCriarRegistro}" style="border:0"/>
                                </p:commandLink>
                                <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                            </p:column>
                        </p:columnGroup>
                    </f:facet>
                </p:dataTable>
            </h:form>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addEditPopup"                      
                      modal="true"
                      width="430"
                      header="#{(projetoMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"                      
                      resizable="false"
                      draggable="true"
                      id="addEditDialog">
                <h:panelGrid columns="1" id="addEditPanel">
                    <h:form id="form2">

                        <h:panelGrid columns="4">
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Titulo:" />
                            <p:inputTextarea style="width:300px;" autoResize="true" effectDuration="5" maxHeight="40" id="titulo" value="#{projetoMB.projeto.titulo}" required="true" requiredMessage="#{label.general_Titulo_Required}"/>
                            <p:message for="titulo" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Descrição:" />
                            <p:inputTextarea style="width:300px;" autoResize="true" effectDuration="5" maxHeight="40" value="#{projetoMB.projeto.descricao}" id="desc" size="50"  required="true" requiredMessage="#{label.general_Description_Required}"/>
                            <p:message for="desc" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Responsável: " />
                            <h:selectOneMenu value="#{projetoMB.projeto.fkResponsavel}" converter="pessoaConverter" required="true" disabled="#{!projetoMB.podeAlterarResponsavel}">
                                <f:selectItems value="#{projetoMB.listaPessoas}"/>
                                <p:ajax event="valueChange" update="departamento" listener="#{projetoMB.atualizaDepartamento}"/>
                            </h:selectOneMenu>
                            <h:outputText value="" />

                            <h:outputText value="" />
                            <h:outputText value="Status: " />
                            <h:selectOneMenu value="#{projetoMB.projeto.status}" required="true">
                                <f:selectItems  value="#{projetoMB.listaStatus}"/>
                            </h:selectOneMenu>
                            <h:outputText value="" />

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Data inicial: " />
                            <p:calendar pattern="dd/MM/yyyy" id="dataInicial" required="true" validator="#{projetoMB.validarDatas}" value="#{projetoMB.projeto.dataInicial}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}." onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"/>
                            <p:message for="dataInicial" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Data final: " />
                            <p:calendar pattern="dd/MM/yyyy" id="dataFinal" required="true" validator="#{projetoMB.validarDatas}" value="#{projetoMB.projeto.dataFinal}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}." onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"/>
                            <p:message for="dataFinal" display="icon"/>

                            <h:outputText value="" />
                            <h:outputText value="Data criação: " />
                            <p:calendar pattern="dd/MM/yyyy" required="false" validator="#{projetoMB.validarDatas}" value="#{projetoMB.projeto.dataCriacao}" disabled="true" navigator="true" locale="pt_BR"/>
                            <h:outputText value="" />


                            <h:outputText value="Projeto pai: " rendered="false"/>
                            <h:selectOneMenu value="#{projetoMB.projeto.fkProjetoPai}" converter="projetoConverter" required="false" rendered="false">
                                <f:selectItem itemLabel=""/>
                                <f:selectItems value="#{projetoMB.listaProjetoPai}"/>
                            </h:selectOneMenu>
                            <h:outputText value="" rendered="false"/>

                            <h:outputText value="" rendered="false"/>
                            <h:outputText value="Tipo de relacionamento: " rendered="false"/>
                            <p:selectOneMenu value="#{projetoMB.relacionamento}" required="false" rendered="false">
                                <f:selectItems value="#{projetoMB.listaRelacionamentos}" var="f" itemLabel="#{f}" itemValue="#{f}"/>
                            </p:selectOneMenu>
                            <h:outputText value="" rendered="false"/>

                            <h:outputText value="" />
                            <h:outputText value="Departamento: " />
                            <h:selectOneMenu id="departamento" value="#{projetoMB.projeto.fkDepartamento}" converter="departamentoConverter" required="true">
                                <f:selectItems value="#{projetoMB.listaDepartamentos}"/>
                            </h:selectOneMenu>
                            <h:outputText value="" />

                            <h:outputText value="" rendered="false"/>
                            <h:selectBooleanCheckbox value="#{projetoMB.encaminharInfoProjeto}" rendered="false"/>
                            <h:outputText value="Ir para InfoProjeto Após cadastro." rendered="false"/>
                            <h:outputText value="" rendered="false"/>

                        </h:panelGrid>
                        <p:messages id="erroProjeto"/>

                        <p:commandButton value="#{label.general_Save}"
                                         action="#{projetoMB.gravar}"
                                         update=":form1:tabela, :form1:pesquisa, :addEditPanel"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopup').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopup"
                      width="250"
                      modal="true"
                      header="#{label.general_Confirm}"
                      resizable="false"
                      id="deleteDialog">
                <h:form id="form3">
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{projetoMB.excluir}"
                                         update=":form1:tabela, :form1:pesquisa"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

             <!-- ################################### -->
            <!-- bloco de seleção -->
            <p:dialog widgetVar="selectTipoProjeto"
                      width="350"
                      modal="true"
                      header="Tipo de Projeto"
                      resizable="false"
                      id="selectTipoProjetoDialog">
                <h:panelGrid columns="1" id="selectTipoProjetoGrid">
                    <h:form id="form4">
                        <h:outputText value="Qual Tipo de Projeto deseja Cadastrar?"/>
                        <h:panelGrid  columns="2">

                            <p:selectOneMenu value="#{projetoMB.tipoProjeto}" required="true">
                                <f:selectItems value="#{projetoMB.listaTipoProjeto}" var="f" itemLabel="#{f}" itemValue="#{f}"/>
                            </p:selectOneMenu>

                            <p:commandButton value="Avançar" update=":addEditPanel"
                                             action="#{projetoMB.prepareAdicionar}"/>
                        </h:panelGrid>
                    </h:form>
                </h:panelGrid>
            </p:dialog>
            
        </ui:define>
    </ui:composition>
</html>